<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administración</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/Logo Gativet.png') }}">
    <link rel="stylesheet" href="static/styles/admin_dashboard.css?v=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js/dist/umd/supabase.js"></script>

</head>


<body class="bg-gray-50">

    <!-- Encabezado con menú horizontal -->
    <header class="bg-white shadow">
        <div class="container mx-auto flex justify-between items-center p-4">
            <!-- Contenedor para el logo y el texto de Administrador -->
            <div class="flex items-center">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='img/Logo Gativet.png') }}" alt="Logo Gativet"
                        class="w-14 h-14 mr-2">
                </a>
                <h1 class="text-2xl font-bold" style="color: #18beaa;">Administrador</h1>
            </div>

            <nav>
                <ul class="flex space-x-4">
                    <li><a href="#" onclick="showSection('productos')" class="hover:underline"
                            style="color: #18beaa; border-bottom: 2px solid transparent; transition: border-bottom 0.3s;">
                            Productos</a></li>
                    <li><a href="#" onclick="showSection('usuarios')" class="hover:underline"
                            style="color: #18beaa; border-bottom: 2px solid transparent; transition: border-bottom 0.3s;">
                            Usuarios</a></li>
                    <li><a href="#" onclick="showSection('recordatorios')" class="hover:underline"
                            style="color: #18beaa; border-bottom: 2px solid transparent; transition: border-bottom 0.3s;">
                            Recordatorios</a></li>
                </ul>
            </nav>

        </div>
    </header>


    <!-- Contenido Productos -->
    <div class="container mx-auto flex items-start justify-center pt-10 section hidden" id="productos">
        <section class="p-4 w-full max-w-3xl bg-white shadow-md rounded-lg">
            <!-- Encabezado centrado -->
            <div class="flex justify-center mb-4">
                <h2 class="text-xl font-bold">Gestión de Productos</h2>
            </div>

            <!-- Filtros -->
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <!-- Filtro por Tipo de Producto -->
                    <!-- Filtro por Tipo de Producto -->
                    <div class="mr-4">
                        <label for="productFilter" class="mr-1 text-gray-700 text-xs">Filtrar por tipo:</label>
                        <select id="productFilter" class="border rounded py-0.5 px-1 text-gray-700 text-xs"
                            onchange="filterProducts()">
                            <option value="">Todos los tipos</option>
                            <option value="1">Alimento para Perros</option>
                            <option value="2">Alimento para Gatos</option>
                            <option value="3">Medicamento Veterinario</option>
                        </select>
                    </div>

                    <!-- Filtro por Mes de Ingreso -->
                    <div>
                        <label for="monthFilter" class="mr-1 text-gray-700 text-xs">Filtrar por mes:</label>
                        <input type="month" id="monthFilter" class="border rounded py-1 px-1 text-gray-700 text-xs"
                            onchange="filterByMonth()">
                    </div>
                </div>

                <!-- Botón para exportar a Excel -->
                <button class="text-white py-1 px-3 rounded hover:bg-teal-500 transition duration-200 text-sm"
                    style="background-color: #18beaa;" onclick="exportToExcel()">
                    Exportar a Excel
                </button>
            </div>

            <!-- Tabla de stock de productos -->
            <table id="productTable"
                class="min-w-full bg-white border border-gray-300 shadow rounded-lg overflow-hidden text-xs mt-3">
                <!-- Cambiar a text-xs -->
                <thead>
                    <tr class="text-white" style="background-color: #18beaa;">
                        <th class="py-1 px-2 border-b">Nombre del Producto</th> <!-- Ajustar padding si es necesario -->
                        <th class="py-1 px-2 border-b">Tipo de Producto</th>
                        <th class="py-1 px-2 border-b">Marca</th>
                        <th class="py-1 px-2 border-b">Precio</th>
                        <th class="py-1 px-2 border-b">Stock</th>
                        <th class="py-1 px-2 border-b">Fecha ingreso</th>
                    </tr>
                </thead>
                <tbody id="productTableExt">
                    <!-- Aquí se mostrarán los productos filtrados -->
                </tbody>
            </table>


            <!-- Controles de Paginación -->
            <div id="paginationControls" class="mt-4 flex justify-center items-center">
                <button id="prevPageBtn" class="text-white py-1 px-3 rounded mr-2 text-sm"
                    style="background-color: #18beaa;" onclick="prevPage()">
                    &lt;&lt;
                </button>
                <span id="currentPage" class="text-gray-700 text-sm"></span>
                <button id="nextPageBtn" class="text-white py-1 px-3 rounded ml-2 text-sm"
                    style="background-color: #18beaa;" onclick="nextPage()">
                    &gt;&gt;
                </button>
            </div>

        <!-- Formulario para subir productos -->
        <form id="productForm" class="mt-6 bg-white p-6 shadow rounded-lg text-sm" onsubmit="submitProduct(event)">
            <h4 class="text-base font-semibold">Agregar Nuevo Producto</h4>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-2">
                <div>
                    <label for="productName" class="block text-gray-700">Nombre del Producto:</label>
                    <input type="text" id="productName" class="border rounded w-full py-1 px-2 text-gray-700"
                        placeholder="Nombre del producto" required>
                    <div id="nameError" class="error hidden">Este campo es obligatorio.</div>
                </div>
                <div>
                    <label for="productType" class="block text-gray-700">Tipo de Producto:</label>
                    <select id="productType" class="border rounded w-full py-1 px-2 text-gray-700" required>
                        <option value="">Seleccione un tipo</option>
                        <option value="alimento_perro">Alimento para Perros</option>
                        <option value="alimento_gato">Alimento para Gatos</option>
                        <option value="medicamento">Medicamento Veterinario</option>
                    </select>
                    <div id="typeError" class="error">Este campo es obligatorio.</div>
                </div>
                <div>
                    <label for="brand" class="block text-gray-700">Marca:</label>
                    <select id="brand" class="border rounded w-full py-1 px-2 text-gray-700" required>
                        <option value="">Seleccione una marca</option>
                        <optgroup id="dogFoodBrands" label="Alimento para Perros" style="display: none;">
                            <option value="Royal Canin">Royal Canin</option>
                            <option value="Purina Pro Plan">Purina Pro Plan</option>
                            <option value="Pedigree">Pedigree</option>
                            <option value="Eukanuba">Eukanuba</option>
                        </optgroup>
                        <optgroup id="catFoodBrands" label="Alimento para Gatos" style="display: none;">
                            <option value="Whiskas">Whiskas</option>
                            <option value="Josera">Josera</option>
                            <option value="Purina Cat Chow">Purina Cat Chow</option>
                        </optgroup>
                        <optgroup id="veterinaryMedicines" label="Medicamentos Veterinarios" style="display: none;">
                            <option value="NexGard">NexGard</option>
                            <option value="Frontline">Frontline</option>
                            <option value="Advantage">Advantage</option>
                        </optgroup>
                    </select>
                    <div id="brandError" class="error">Este campo es obligatorio.</div>
                </div>
                <div>
                    <label for="price" class="block text-gray-700">Precio:</label>
                    <input type="text" id="price" class="border rounded w-full py-1 px-2 text-gray-700"
                        placeholder="Precio del producto" oninput="formatCurrency(this)" required>
                    <div id="priceError" class="error hidden">Este campo es obligatorio.</div>
                </div>
                <div>
                    <label for="quantity" class="block text-gray-700">Cantidad:</label>
                    <input type="number" id="quantity" class="border rounded w-full py-1 px-2 text-gray-700"
                        placeholder="Cantidad disponible" required>
                    <div id="quantityError" class="error hidden">Este campo es obligatorio.</div>
                </div>
                <div>
                    <label for="description" class="block text-gray-700">Descripción:</label>
                    <textarea id="description" class="border rounded w-full py-1 px-2 text-gray-700"
                        placeholder="Descripción del producto"></textarea>
                </div>
                <div>
                    <label for="productImage" class="block text-gray-700">Seleccionar Imagen del Producto:</label>
                    <select id="productImage" class="border rounded w-full py-1 px-2 text-gray-700" onchange="updateImagePreview()">
                        <option value="">Seleccione una imagen</option>
                    </select>
                    <div id="imageError" class="error hidden">Este campo es obligatorio.</div>
                    <div class="mt-2">
                        <img id="imagePreview" src="" alt="Vista previa de la imagen" class="hidden w-32 h-32 border rounded mt-2"/>
                    </div>
                </div>
                <div class="mt-2">
                    <input type="file" id="uploadImage" accept="image/*" class="border rounded w-full py-1 px-2 text-gray-700" onchange="uploadImageToCloudinary()">
                </div>
            </div>
            <button type="submit"
            class="mt-4 text-white py-2 px-4 rounded hover:bg-teal-500 transition duration-200"
            style="background-color: #18beaa;">Subir Producto</button>
        </form>
    </div>
    <!-- Fin Contenido Productos -->



    <!-- Contenido Gestión de usuarios -->
    <div class="container mx-auto flex items-start justify-center pt-10 section hidden" id="usuarios">
        <section class="p-4 w-full max-w-3xl bg-white shadow-md rounded-lg">
            <!-- Encabezado centrado -->
            <div class="flex justify-center mb-4">
                <h2 class="text-xl font-bold">Gestión de Usuarios</h2>
            </div>

            <!-- Buscador de usuarios -->
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <div class="mb-4">
                        <label for="search" class="block text-sm font-semibold text-xs">Buscar Usuario:</label>
                        <input type="text" id="search"
                            class="mt-1 block w-36 text-xs border-2 border-gray-300 rounded-md focus:border-gray-500 focus:outline-none"
                            placeholder="Buscar por RUT o nombre" oninput="renderUserTable()">
                        <p class="mt-1 text-xs text-gray-600">Nota: El RUT debe ser sin puntos ni guion, y el nombre
                            debe iniciar con mayúscula.</p>
                    </div>
                </div>
            </div>


            <!-- Filtros -->
            <div class="flex justify-between mb-4">
                <div class="flex items-center">
                    <!-- Filtro por Tipo de Usuario -->
                    <div class="mr-4">
                        <label for="filter" class="mr-1 text-gray-700 text-xs">Filtrar por tipo:</label>
                        <select id="filter" class="border rounded py-0.5 px-1 text-gray-700 text-xs"
                            onchange="renderUserTable()">
                            <option value="">Todos los tipos</option>
                            <option value="veterinario">Veterinario</option>
                            <option value="usuario">Usuario</option>
                        </select>
                    </div>
                </div>

                <!-- Botón para abrir modal de agregar -->
                <button class="text-white py-1 px-3 rounded hover:bg-teal-500 transition duration-200 text-sm"
                    style="background-color: #18beaa;" onclick="openAddUserModal()">
                    Agregar Usuario Veterinario
                </button>
            </div>

            <!-- Tabla de usuarios -->
            <table class="min-w-full bg-white border border-gray-300 shadow rounded-lg overflow-hidden text-xs mt-4">
                <thead>
                    <tr class="text-white" style="background-color: #18beaa;">
                        <th class="py-1 px-2 border-b">RUT</th>
                        <th class="py-1 px-2 border-b">Nombre</th>
                        <th class="py-1 px-2 border-b">Tipo de Usuario</th>
                        <th class="py-1 px-2 border-b">Fecha de Creación</th> <!-- Nueva columna -->
                        <th class="py-1 px-2 border-b">Acciones</th>
                    </tr>
                </thead>
                <tbody id="userTable">
                    <!-- Aquí se mostrarán los usuarios -->
                </tbody>
            </table>
        </section>
    </div>
    <!-- Fin Sección Gestión de Usuarios -->

    <!-- Modal para agregar usuario veterinario -->
    <div id="addUserModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-lg md:max-w-4xl">
            <h2 class="text-lg font-bold mb-4" id="addModalTitle">Agregar Usuario Veterinario</h2>
            <form id="addModalUserForm">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Columna izquierda -->
                    <div>
                        <div class="mb-4">
                            <label for="addModalRut" class="block text-sm font-semibold">RUT:</label>
                            <input type="text" id="addModalRut" class="mt-1 block w-full border-gray-300 rounded-md"
                                maxlength="12" placeholder="Ingrese el RUT" required>
                        </div>
                        <div class="mb-4">
                            <label for="addModalNombre" class="block text-sm font-semibold">Nombre:</label>
                            <input type="text" id="addModalNombre" class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el nombre" required>
                        </div>
                        <div class="mb-4">
                            <label for="modalApellido" class="block text-sm font-semibold">Apellido:</label>
                            <input type="text" id="modalApellido" class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el apellido" required>
                        </div>
                        <div class="mb-4">
                            <label for="modalDomicilio" class="block text-sm font-semibold">Domicilio:</label>
                            <input type="text" id="modalDomicilio" class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el domicilio" required>
                        </div>
                    </div>

                    <!-- Columna derecha -->
                    <div>
                        <div class="mb-4">
                            <label for="modalEspecialidad" class="block text-sm font-semibold">Especialidad:</label>
                            <input type="text" id="modalEspecialidad"
                                class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese la especialidad" required>
                        </div>
                        <div class="mb-4">
                            <label for="modalTelefono" class="block text-sm font-semibold">Teléfono:</label>
                            <input type="tel" id="modalTelefono" class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el teléfono" required>
                            <div id="phone-error-message" class="text-red-500 text-sm hidden">Formato inválido. Use +569
                                xxxx yyyy</div>
                        </div>
                        <div class="mb-4">
                            <label for="modalCorreo" class="block text-sm font-semibold">Correo Electrónico:</label>
                            <input type="email" id="modalCorreo" class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el correo electrónico" required>
                        </div>
                        <div class="mb-4">
                            <label for="modalFechaNacimiento" class="block text-sm font-semibold">Fecha de
                                Nacimiento:</label>
                            <input type="date" id="modalFechaNacimiento"
                                class="mt-1 block w-full border-gray-300 rounded-md" required>
                        </div>
                    </div>
                </div>

                <!-- Campos de contraseña en una sola fila -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div class="relative">
                        <label for="modalPassword" class="block text-sm font-semibold">Contraseña:</label>
                        <input type="password" id="modalPassword" class="mt-1 block w-full border-gray-300 rounded-md"
                            placeholder="Ingrese la contraseña" required>
                        <span toggle="#modalPassword" class="absolute inset-y-0 right-3 top-6 cursor-pointer"
                            onclick="togglePasswordVisibility('modalPassword', this)">
                            👁️
                        </span>
                        <div id="pswd_info" class="hidden">
                            <p class="pp"><b>La contraseña debe tener:</b></p>
                            <ul>
                                <li id="capital" class="invalid">Al menos 1 mayúscula</li>
                                <li id="letter" class="invalid">Al menos 1 minúscula</li>
                                <li id="number" class="invalid">Al menos 1 número</li>
                            </ul>
                        </div>

                    </div>

                    <div class="relative">
                        <label for="modalConfirmPassword" class="block text-sm font-semibold">Confirmar
                            Contraseña:</label>
                        <input type="password" id="modalConfirmPassword"
                            class="mt-1 block w-full border-gray-300 rounded-md" placeholder="Confirme la contraseña"
                            required>
                        <span toggle="#modalConfirmPassword" class="absolute inset-y-0 right-3 top-6 cursor-pointer"
                            onclick="togglePasswordVisibility('modalConfirmPassword', this)">
                            👁️
                        </span>
                        <div id="confirm-password-error-message" class="text-red-500 text-sm hidden">Las contraseñas no
                            coinciden.</div>
                    </div>
                </div>

                <input type="hidden" id="addModalTipo" value="veterinario">

                <!-- Botones -->
                <div class="flex justify-end mt-4">
                    <button type="button"
                        class="mt-4 text-gray-800 py-2 px-4 rounded hover:bg-teal-500 transition duration-200 mr-5"
                        style="background-color: #d1d5db;" onclick="closeAddUserModal()">Cancelar</button>
                    <button type="submit"
                        class="mt-4 text-white py-2 px-4 rounded hover:bg-teal-500 transition duration-200"
                        style="background-color: #18beaa;">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin del Modal de agregar -->

    <!-- Modal para editar usuario veterinario -->
    <div id="editUserModal" class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-lg md:max-w-4xl">
            <h2 class="text-lg font-bold mb-4" id="editModalTitle">Editar Usuario Veterinario</h2>
            <form id="editModalUserForm">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Columna izquierda -->
                    <div>
                        <div class="mb-4">
                            <label for="editModalRut" class="block text-sm font-semibold">RUT:</label>
                            <input type="text" id="editModalRut" class="mt-1 block w-full border-gray-300 rounded-md"
                                maxlength="12" placeholder="Ingrese el RUT" required>
                        </div>
                        <div class="mb-4">
                            <label for="editModalNombre" class="block text-sm font-semibold">Nombre:</label>
                            <input type="text" id="editModalNombre" class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el nombre" required>
                        </div>
                        <div class="mb-4">
                            <label for="editModalApellido" class="block text-sm font-semibold">Apellido:</label>
                            <input type="text" id="editModalApellido"
                                class="mt-1 block w-full border-gray-300 rounded-md" placeholder="Ingrese el apellido"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="editModalDomicilio" class="block text-sm font-semibold">Domicilio:</label>
                            <input type="text" id="editModalDomicilio"
                                class="mt-1 block w-full border-gray-300 rounded-md" placeholder="Ingrese el domicilio"
                                required>
                        </div>
                    </div>

                    <!-- Columna derecha -->
                    <div>
                        <div class="mb-4">
                            <label for="editModalEspecialidad" class="block text-sm font-semibold">Especialidad:</label>
                            <input type="text" id="editModalEspecialidad"
                                class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese la especialidad" required>
                        </div>
                        <div class="mb-4">
                            <label for="editModalTelefono" class="block text-sm font-semibold">Teléfono:</label>
                            <input type="tel" id="editModalTelefono"
                                class="mt-1 block w-full border-gray-300 rounded-md" placeholder="Ingrese el teléfono"
                                required>
                            <div id="phone-error-message-edit" class="text-red-500 text-sm hidden">Formato inválido. Use
                                +569 xxxx yyyy</div>
                        </div>
                        <div class="mb-4">
                            <label for="editModalCorreo" class="block text-sm font-semibold">Correo Electrónico:</label>
                            <input type="email" id="editModalCorreo"
                                class="mt-1 block w-full border-gray-300 rounded-md"
                                placeholder="Ingrese el correo electrónico" required>
                        </div>
                        <div class="mb-4">
                            <label for="editModalFechaNacimiento" class="block text-sm font-semibold">Fecha de
                                Nacimiento:</label>
                            <input type="date" id="editModalFechaNacimiento"
                                class="mt-1 block w-full border-gray-300 rounded-md" required>
                        </div>
                    </div>
                </div>

                <!-- Campos de contraseña en una sola fila -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-4">
                    <div class="relative">
                        <label for="editModalPassword" class="block text-sm font-semibold">Contraseña:</label>
                        <input type="password" id="editModalPassword"
                            class="mt-1 block w-full border-gray-300 rounded-md" placeholder="Ingrese la contraseña"
                            required>
                        <span toggle="#editModalPassword" class="absolute inset-y-0 right-3 top-6 cursor-pointer"
                            onclick="togglePasswordVisibility('editModalPassword', this)">
                            👁️
                        </span>
                        <div id="pswd_info" class="hidden">
                            <p class="pp"><b>La contraseña debe tener:</b></p>
                            <ul>
                                <li id="capital" class="invalid">Al menos 1 mayúscula</li>
                                <li id="letter" class="invalid">Al menos 1 minúscula</li>
                                <li id="number" class="invalid">Al menos 1 número</li>
                            </ul>
                        </div>
                    </div>

                    <div class="relative">
                        <label for="editModalConfirmPassword" class="block text-sm font-semibold">Confirmar
                            Contraseña:</label>
                        <input type="password" id="editModalConfirmPassword"
                            class="mt-1 block w-full border-gray-300 rounded-md" placeholder="Confirme la contraseña"
                            required>
                        <span toggle="#editModalConfirmPassword" class="absolute inset-y-0 right-3 top-6 cursor-pointer"
                            onclick="togglePasswordVisibility('editModalConfirmPassword', this)">
                            👁️
                        </span>
                        <div id="edit-confirm-password-error-message" class="text-red-500 text-sm hidden">Las
                            contraseñas no coinciden.</div>
                    </div>
                </div>

                <input type="hidden" id="editModalTipo" value="veterinario">

                <!-- Botones -->
                <div class="flex justify-end mt-4">
                    <button type="button"
                        class="mt-4 text-gray-800 py-2 px-4 rounded hover:bg-teal-500 transition duration-200 mr-5"
                        style="background-color: #d1d5db;" onclick="closeEditUserModal()">Cancelar</button>
                    <button type="submit"
                        class="mt-4 text-white py-2 px-4 rounded hover:bg-teal-500 transition duration-200"
                        style="background-color: #18beaa;">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin del Modal de editar -->


    <!-- Modal de confirmación de eliminación -->
    <div id="confirmDeleteModal"
        class="fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50 hidden">
        <div class="bg-white p-6 rounded-lg shadow-md w-80 text-center">
            <h2 class="text-lg font-bold mb-4">Confirmar Eliminación</h2>
            <p class="mb-4">¿Estás seguro de que quieres eliminar este usuario? Esta acción no se puede revertir.</p>
            <div class="flex justify-between">
                <button type="button" class="px-4 py-2 bg-gray-300 text-gray-800 rounded-md"
                    onclick="closeConfirmDeleteModal()">Cancelar</button>
                <button type="button" class="px-4 py-2 bg-red-500 text-white rounded-md"
                    id="confirmDeleteButton">Eliminar</button>
            </div>
        </div>
    </div>
    <!-- Fin del Modal de confirmación de eliminación -->
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"> </script>
</body>