{% extends "base.html" %}

{% block title %}Contacto{% endblock %}

{% block content %}

<!-- Body-->

<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto my-10 p-6 bg-white shadow-md rounded-lg">
        <!-- Pasos de progreso -->
        <div class="step-container">
            <div class="step-wrapper">
                <div class="flex flex-col items-center">
                    <i class="fas fa-search step-icon" id="search-icon"></i>
                    <span class="step-icon-name text-sm" id="search-icon-name">Buscar</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-check step-icon" id="select-icon"></i>
                    <span class="step-icon-name text-sm" id="select-icon-name">Seleccionar Fecha y Hora</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-id-card step-icon" id="id-icon"></i>
                    <span class="step-icon-name text-sm" id="id-icon-name">Identificación</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-thumbs-up step-icon" id="success-icon"></i>
                    <span class="step-icon-name text-sm" id="success-icon-name">Éxito</span>
                </div>
            </div>
        </div>

        <!-- Form Sections -->
        <div id="form-steps">
            <!-- Búsqueda -->
            <div class="step-content p-6 bg-white shadow-md rounded-lg active" id="step-search">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-start">
                    <!-- Selección de Área -->
                    <div class="col-span-1 mb-6">
                        <h3 class="text-xl font-semibold text-gray-700 mb-3">Seleccionar área:</h3>
                        <select id="area-select"
                            class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                            <option value="general">Consulta General</option>
                            <option value="especialidad">Consulta Especialidad Felina</option>
                            <option value="telemedicina">Consulta Telemedicina</option>
                        </select>
                    </div>

                    <!-- Contenedor para Divisor Vertical y Buscar por -->
                    <div class="col-span-2 flex flex-col mb-6">
                        <div class="flex items-start mb-6">
                            <!-- Divisor Vertical -->
                            <div class="hidden md:block w-px h-40 bg-gray-300 mr-6"></div>

                            <!-- Buscar por -->
                            <div class="w-full">
                                <h3 class="text-xl font-semibold text-gray-700 mb-3">Buscar por:</h3>
                                <div class="flex space-x-4 mb-4">
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="search-type" value="staff"
                                            class="form-radio text-blue-500 border-gray-300 focus:border-blue-500 focus:ring-blue-500">
                                        <span class="ml-2 text-gray-700">Staff</span>
                                    </label>
                                </div>

                                <!-- Búsqueda por Servicio y Staff en una fila -->
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                    <!-- Búsqueda por Servicio para el futuro -->
                                    <div id="service-search" class="hidden">
                                        <!-- Añadir más opciones según sea necesario -->
                                    </div>

                                    <!-- Búsqueda por Staff -->
                                    <div id="staff-search" class="hidden">
                                        <h3 class="text-xl font-semibold text-gray-700 mb-2">Seleccionar Doctor:</h3>
                                        <select id="staff-select"
                                            class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                                            onchange="updateDoctorInfoFromSelection()">
                                            <option value="none" selected>Seleccione un doctor</option>
                                            <option value="doctor1" data-name="Dr. Nicolás Villalba"
                                                data-image="static/img/doctor1.jpg">Dr. Nicolás Villalba</option>
                                            <option value="doctor2" data-name="Dra. Kirito Aravena"
                                                data-image="static/img/doctor2.jpg">Dra. Kirito Aravena</option>
                                            <!-- Añadir más opciones según sea necesario -->
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botón principal "Pedir Hora" -->
                <!-- Botón principal "Pedir Hora" -->
                <div class="text-center mt-6">
                    <button onclick="
                        // Validación para el paso de selección
                        if (document.getElementById('step-search').classList.contains('active')) {
                            const doctorSelected = document.getElementById('staff-select').value;
                            if (!doctorSelected || doctorSelected === 'none') {
                                alert('Por favor, seleccione un doctor.');
                                return;
                            }
                        }
                        nextStep('step-search', 'step-select', 'search-icon')
                    "
                        class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Pedir Hora
                    </button>
                </div>


            </div>
            <!-- Fin búsqueda -->

            <!-- Selección -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-select">
                <p class="text-gray-700 mb-4">Seleccione la fecha y hora para su cita con el profesional seleccionado:</p>

                <div class="flex items-start">
                    <!-- Imagen del Doctor Seleccionado -->
                    <div class="w-1/3 mr-6 text-center">
                        <img id="doctor-image" src="static/img/Logo Gativet.png" alt="Imagen del Doctor"
                            class="w-full h-auto rounded-lg shadow-md">
                        <!-- Nombre del Doctor -->
                        <p id="doctor-name" class="mt-2 text-gray-800 font-semibold">Nombre del Doctor</p>
                    </div>

                    <!-- Selección de Fecha y Horas Disponibles -->
                    <div class="w-2/3">
                        <!-- Selección de Fecha -->
                        <div class="mb-4">
                            <label for="date-select" class="block text-gray-700 mb-2">Selecciona una fecha:</label>
                            <input type="date" id="date-select"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                                onfocus="openDatePicker(this)" onchange="openDatePicker(this)">
                        </div>

                        <!-- Selección de Hora -->
                        <div class="mb-4">
                            <label for="time-select" class="block text-gray-700 mb-2">Horas disponibles:</label>
                            <div class="flex flex-wrap gap-2">
                                <!-- Botones de Hora -->
                                <button type="button" class="px-4 py-2 bg-gray-200 border rounded-lg hover:bg-gray-300"
                                    onclick="selectTime(this)">09:00</button>
                                <button type="button" class="px-4 py-2 bg-gray-200 border rounded-lg hover:bg-gray-300"
                                    onclick="selectTime(this)">10:00</button>
                                <button type="button" class="px-4 py-2 bg-gray-200 border rounded-lg hover:bg-gray-300"
                                    onclick="selectTime(this)">11:00</button>
                                <button type="button" class="px-4 py-2 bg-gray-200 border rounded-lg hover:bg-gray-300"
                                    onclick="selectTime(this)">12:00</button>
                                <!-- Añadir más botones de hora según sea necesario -->
                            </div>
                        </div>

                        <!-- Botón para Continuar -->
                        <div class="text-center">
                            <button onclick="nextStep('step-select', 'step-id', 'select-icon')"
                                class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                                Siguiente
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin selección -->

            <!-- Identificación -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-id">
                <h2 class="text-3xl font-bold text-gray-800 mb-6">Identificación</h2>
                <p class="text-gray-700 mb-4">Aquí va el contenido para la identificación.</p>
                <div class="text-center mt-6">
                    <button onclick="nextStep('step-id', 'step-success', 'id-icon')"
                        class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Siguiente
                    </button>
                </div>
            </div>
            <!-- Fin identificación -->

            <!-- Éxito -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-success">
                <h2 class="text-3xl font-bold text-gray-800 mb-6">Éxito</h2>
                <p class="text-gray-700 mb-4">Tu reserva ha sido realizada con éxito.</p>
                <p class="text-gray-700 mb-4">Se ha enviado un correo con los datos de la cita.</p>
                <div class="text-center mt-6">
                    <a href="{{ url_for('home') }}"
                        class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer inline-block text-center">
                        Finalizar
                    </a>
                </div>
            </div>
            <!-- Fin éxito -->
        </div>
    </div>

    {% block scripts %}
    <script>
        // Cambia al siguiente paso
        function nextStep(currentStepId, nextStepId, iconId) {
            // Validación para el paso de selección
            if (currentStepId === 'step-select') {
                // Verifica si se ha seleccionado un doctor
                const doctorSelected = document.getElementById('staff-select').value;
                console.log('Doctor Selected:', doctorSelected); // Depuración
    
                if (!doctorSelected || doctorSelected === 'none') {
                    alert('Por favor, seleccione un doctor.');
                    return;
                }
    
                // Verifica si se ha seleccionado una fecha
                const dateSelected = document.getElementById('date-select').value;
                console.log('Date Selected:', dateSelected); // Depuración
    
                if (!dateSelected) {
                    alert('Por favor, seleccione una fecha.');
                    return; // Detiene la ejecución para que no avance al siguiente paso
                }
    
                // Verifica si se ha seleccionado una hora
                const timeSelected = document.querySelector('#step-select button.selected-time');
                console.log('Time Selected:', timeSelected ? timeSelected.textContent : 'None'); // Depuración
    
                if (!timeSelected) {
                    alert('Por favor, seleccione una hora.');
                    return; // Detiene la ejecución para que no avance al siguiente paso
                }
            }
    
            // Si todas las validaciones son correctas, cambia de paso
            document.getElementById(currentStepId).classList.remove('active');
            document.getElementById(nextStepId).classList.add('active');
            document.getElementById(currentStepId).classList.add('hidden');
            document.getElementById(nextStepId).classList.remove('hidden');
            document.getElementById(iconId).classList.add('completed');
            document.querySelectorAll('.step-icon-name').forEach(name => {
                if (name.id === iconId + '-name') {
                    name.classList.add('completed');
                } else {
                    name.classList.remove('completed');
                }
            });
        }
    
        // Manejador de cambio para el tipo de búsqueda
        document.querySelectorAll('input[name="search-type"]').forEach(input => {
            input.addEventListener('change', function () {
                if (this.value === 'staff') {
                    document.getElementById('service-search').classList.add('hidden');
                    document.getElementById('staff-search').classList.remove('hidden');
                } else {
                    document.getElementById('service-search').classList.remove('hidden');
                    document.getElementById('staff-search').classList.add('hidden');
                }
            });
        });
    
        // Actualiza la información del doctor seleccionado
        function updateDoctorInfoFromSelection() {
            const select = document.getElementById('staff-select');
            const selectedOption = select.options[select.selectedIndex];
    
            const name = selectedOption.getAttribute('data-name');
            const imageUrl = selectedOption.getAttribute('data-image');
    
            updateDoctorInfo(name, imageUrl);
        }
    
        function updateDoctorInfo(name, imageUrl) {
            document.getElementById('doctor-name').textContent = name;
            document.getElementById('doctor-image').src = imageUrl;
        }
    
        // Abre el selector de fecha al hacer clic
        function openDatePicker(input) {
            input.focus();
        }
    
        // Marca la hora seleccionada
        function selectTime(button) {
            document.querySelectorAll('#step-select button').forEach(btn => btn.classList.remove('selected-time'));
            button.classList.add('selected-time');
        }
    </script>
    
    
    {% endblock %}
    

</body>

{% endblock %}