{% extends "base_producto.html" %}

{% block title %}Ayúdanos{% endblock %}

{% block content %}

<head>
    <!-- Importa el archivo CSS específico para help -->
    <link rel="stylesheet" href="static/styles/help.css?v=1.0">
</head>

<!-- Body -->
<body class="bg-gray-100">
    <!-- Felinos -->
    <div class="flex flex-col">
        <div class="relative flex flex-col max-w-screen-xl px-4 md:flex-row sm:px-6 p-8">
            <!-- Contenedor para texto y carrusel -->
            <div class="flex justify-between items-center w-full">
                <!-- Bloque de texto -->
                <div class="text-left md:w-1/2">
                    <h2
                        class="text-xl font-extrabold leading-8 tracking-tight text-gray-500 sm:text-3xl sm:leading-none md:text-4xl">
                        ¡Ayuda a nuestros
                        <span class="font-bold" style="color: #18beaa;">amigos felinos!</span>
                    </h2>
                    <p
                        class="max-w-md mt-3 text-sm text-gray-500 sm:text-base md:mt-5 md:text-lg md:max-w-3xl text-justify">
                        <strong>Cada aporte cuenta, grande o pequeño. Tu donación no solo ayuda a cubrir necesidades
                            básicas, sino que también contribuye a ofrecer una segunda oportunidad a esos gatos que
                            merecen una vida
                            llena de amor y cuidado.
                        </strong>
                    </p>
                    <div class="mt-5 sm:flex md:mt-8 items-center sm:flex-col md:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
                        <!-- Botón Haz tu Donación -->
                        <div class="w-full sm:w-auto rounded-md shadow">
                            <a href="{{ url_for('donation') }}"
                                class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-6 text-white transition duration-150 ease-in-out border border-transparent rounded-md focus:outline-none bg-[#18beaa] hover:bg-[#18beaa]/80 focus:ring active:bg-[#18beaa]/90 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
                                Haz tu Donación
                            </a>
                        </div>
                        <!-- Botón Contáctenos (Amarillo más vivo) -->
                        <div class="w-full sm:w-auto rounded-md shadow">
                            <a href="{{ url_for('contact') }}"
                                class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-6 text-white transition duration-150 ease-in-out border border-transparent rounded-md focus:outline-none bg-[#18beaa] hover:bg-[#18beaa]/80 focus:ring active:bg-[#18beaa]/90 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
                                Contáctenos
                            </a>
                        </div>
                    </div>                 
                </div>
            </div>
        </div>
    </div>
    <div class="sm:grid lg:grid-cols-4 sm:grid-cols-2 gap-10 mb-10 py-4 px-6" id="cases-container">
        <!-- Cartas dinamicamentes tomadas -->
    </div>

    <!-- Fundaciones -->
    <div class="flex flex-col">
        <div class="h-1 ml-20 mr-20 bg-gray-200 rounded overflow-hidden">
            <div class="h-full" style="background-color: #18beaa;"></div>
        </div>
        <div class="flex justify-between items-center w-full">
            <div class="flex items-center py-5 md:w-1/2 md:pb-20 md:pt-10 md:pr-10 md:ml-8">
                <div class="text-left">
                    <h2
                        class="text-xl font-extrabold leading-8 tracking-tight text-gray-500 sm:text-3xl sm:leading-none md:text-4xl">
                        ¡Ayudemos Juntos:
                        <span class="font-bold" style="color: #18beaa;">Apoya a las Fundaciones de Mascotas!</span>
                    </h2>
                    <p
                        class="max-w-md mt-3 text-sm text-gray-500 sm:text-base md:mt-5 md:text-lg md:max-w-3xl text-justify">
                        <strong>Sé el héroe que muchas mascotas están esperando. Apoya a las fundaciones y contribuye a
                            un futuro lleno de esperanza para ellas.</strong>
                    </p>

                    <div class="mt-5 sm:flex md:mt-8 items-center sm:flex-col md:flex-row space-y-4 sm:space-y-0 sm:space-x-4">
                        <!-- Botón Haz tu Donación -->
                        <div class="w-full sm:w-auto rounded-md shadow">
                            <a href=""
                                class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-6 text-white transition duration-150 ease-in-out border border-transparent rounded-md focus:outline-none bg-[#18beaa] hover:bg-[#18beaa]/80 focus:ring active:bg-[#18beaa]/90 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
                                Haz tu Donación
                            </a>
                        </div>
                        <!-- Botón Contáctenos -->
                        <div class="w-full sm:w-auto rounded-md shadow">
                            <a href="{{ url_for('contact') }}"
                                class="flex items-center justify-center w-full px-4 py-2 text-sm font-medium leading-6 text-white transition duration-150 ease-in-out border border-transparent rounded-md focus:outline-none bg-[#18beaa] hover:bg-[#18beaa]/80 focus:ring active:bg-[#18beaa]/90 transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
                                Contáctenos
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div id="fundaciones-container" class="sm:grid lg:grid-cols-4 sm:grid-cols-2 gap-10 mb-10 py-4 px-6">
            <!-- Las cartas se insertarán aquí dinámicamente -->
        </div>
        <!-- Fin Fundaciones -->
    </div>
</body>
<!-- /Body -->

<!--Script carrusel-->
<script src="{{ url_for('static', filename='js/help.js') }}"></script>
<!--Fin Script carrusel-->
{% endblock %}
