{% extends "base_producto.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<head>
  <!-- Importa el archivo CSS específico para home -->
  <link rel="stylesheet" href="static/styles/home.css?v=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css">
  <script src="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.js"></script>
</head>
<!--Body-->
<!--Banner-->
<section class="relative bg-cover bg-center bg-no-repeat mb-12 mx-6 sm:mx-8 lg:mx-12 rounded-lg"
  style="background-image: url('{{ url_for('static', filename='img/banner.png') }}'); background-size: contain; background-color: rgb(129, 188, 209);">
  <!-- Contenido dentro del contenedor aquí -->
</section>

  <div class="absolute inset-0 bg-gradient-to-r from-white/70 to-transparent"></div>

  <div class="relative mx-auto max-w-screen-xl px-6 py-24 sm:px-8 sm:py-28 lg:flex lg:h-auto lg:items-center lg:px-12 ">
    <div class="max-w-2xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h1 class="text-3xl font-extrabold sm:text-5xl" style="color: #5f5f5f">
        Déjanos darte
        <strong class="block font-extrabold" style="color: #18beaa;"> el mejor servicio. </strong>
      </h1>

      <p class="mt-4 max-w-xl sm:text-xl" style="text-align: justify; text-align-last: left;">
        En GatiVet ofrecemos servicios de atención veterinaria a domicilio que ofrece cuidado y tratamiento médico para
        mascotas en la comodidad de sus hogares.
        Nuestro objetivo es proporcionar una atención veterinaria de calidad, reduciendo el estrés y las molestias tanto
        para las mascotas como para sus dueños.
      </p>

      <div class="mt-8 flex flex-wrap gap-4 text-center">
        <a href="{{ url_for('schedule') }}"
          class="block w-full rounded bg-[#18beaa] px-12 py-4 text-sm font-medium text-white shadow hover:bg-[#18beaa]/80 focus:outline-none focus:ring active:bg-[#18beaa]/90 sm:w-auto transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">
          Agenda tu Hora
        </a>
      </div>
    </div>
  </div>
</section>
<!--Fin Banner-->

<!-- Servicios -->
<!-- Slider Container -->
<section class="relative w-full container px-5 py-24 mx-auto">
  <div class="flex flex-col">
    <div class="h-1 bg-gray-200 rounded overflow-hidden">
      <div class="h-full" style="background-color: #18beaa;"></div>
    </div>
    <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
      <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Nuestros Servicios</h1>
    </div>
  </div>
  <!-- Swiper Container -->
  <div class="swiper-container relative">
    <!-- Slides Wrapper -->
    <div class="swiper-wrapper mb-5">

      <!-- Slide 1 -->
      <div class="swiper-slide">
        <!-- Carta 1 -->
        <div class="py-4">
          <div
            class="carta1 shadow-lg group container rounded-md bg-white max-w-sm flex justify-center items-center mx-auto content-div">
            <div>
              <div class="w-full image-cover rounded-t-md">
                <!-- Imagen de la carta -->
              </div>
              <div class="py-8 px-4 bg-white bg-opacity-70 rounded-b-md fd-cl group-hover:opacity-25">
                <span class="block text-lg text-gray-800 font-bold tracking-wide">Medicina General</span>
                <span class="block text-gray-600 text-sm text-justify">Cuidamos la salud de tu mascota, gato o perro,
                  con un enfoque personalizado, desde revisiones hasta diagnósticos avanzados.
                  Nuestros veterinarios ofrecen atención cálida y profesional para mantener a tus amigos peludos
                  felices y saludables en cada etapa de su vida.</span>
              </div>
            </div>
            <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
              <div class="pt-8 text-center">
                <button onclick="openModal()"
                  class="text-center rounded-lg p-4 bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 text-white font-bold text-lg transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Ver
                  más</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal medicina general -->
        <div id="modal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden z-50">
          <div class="relative bg-white p-6 rounded-lg max-w-xs shadow-md">
            <!-- Close Button (X) -->
            <button onclick="closeModal()"
              class="absolute top-2 right-2 text-gray-600 hover:text-red-600 text-xl font-bold transition-colors duration-300 ease-in-out">
              &times;
            </button>

            <h2 class="text-lg font-semibold mb-3 border-b pb-1 border-gray-200">Detalles del Servicio</h2>
            <p class="mb-3 text-gray-700 text-sm">Consulta general: <strong>$20,000 CLP</strong></p>
            <p class="text-gray-600 mb-4 text-sm">Incluye revisión completa, diagnóstico y tratamiento inicial.</p>

            <div class="flex justify-end">
              <a href="{{ url_for('schedule') }}"
                class="text-center text-white px-3 py-1 rounded-md bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 font-semibold text-sm transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Agendar
                Cita</a>
            </div>
          </div>
        </div>


      </div>

      <!-- Slide 2 -->
      <div class="swiper-slide">
        <!-- Carta 2 -->
        <div class="py-4">
          <div
            class="carta2 shadow-lg group container rounded-md bg-white max-w-sm flex justify-center items-center mx-auto content-div">
            <div>
              <div class="w-full image-cover rounded-t-md">
                <!-- Imagen de la carta (opcional) -->
              </div>
              <div class="py-8 px-4 bg-white bg-opacity-70 rounded-b-md fd-cl group-hover:opacity-25">
                <span class="block text-lg text-gray-800 font-bold tracking-wide">Vacunación</span>
                <span class="block text-gray-600 text-sm text-justify">Ofrecemos un plan de vacunación completo,
                  adaptado a las necesidades específicas de cada mascota, garantizando su salud y bienestar. Nuestros
                  veterinarios se encargan de aplicar las vacunas necesarias de forma segura y cómoda, brindando
                  protección contra enfermedades.</span>
              </div>
            </div>
            <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
              <div class="pt-8 text-center">
                <button onclick="openVaccinationModal()"
                  class="text-center rounded-lg p-4 bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 text-white font-bold text-lg transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Ver
                  más</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal vacunación -->
        <div id="vaccination-modal"
          class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden z-50">
          <div class="relative bg-white p-6 rounded-lg max-w-xs shadow-md">
            <!-- Close Button (X) -->
            <button onclick="closeVaccinationModal()"
              class="absolute top-2 right-2 text-gray-600 hover:text-red-600 text-xl font-bold transition-colors duration-300 ease-in-out">
              &times;
            </button>

            <h2 class="text-lg font-semibold mb-3 border-b pb-1 border-gray-200">Detalles de Vacunación</h2>
            <p class="mb-3 text-gray-700 text-sm">Vacunas para perros: <strong>$15,000 CLP</strong></p>
            <p class="mb-3 text-gray-700 text-sm">Vacunas para gatos: <strong>$12,000 CLP</strong></p>
            <p class="text-gray-600 mb-4 text-sm">Incluye todas las vacunas necesarias para una protección completa.</p>

            <div class="flex justify-end">
              <a href="{{ url_for('schedule') }}"
                class="text-center text-white px-3 py-1 rounded-md bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 font-semibold text-sm transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Agendar
                Cita</a>
            </div>
          </div>
        </div>


      </div>

      <!-- Slide 3 -->
      <div class="swiper-slide">
        <!-- Carta 3 -->
        <div class="py-4">
          <div
            class="carta3 shadow-lg group container rounded-md bg-white max-w-sm flex justify-center items-center mx-auto content-div">
            <div>
              <div class="w-full image-cover rounded-t-md">
                <!-- Imagen de la carta -->
              </div>
              <div class="py-8 px-4 bg-white bg-opacity-70 rounded-b-md fd-cl group-hover:opacity-25">
                <span class="block text-lg text-gray-800 font-bold tracking-wide">Toma de muestras</span>
                <span class="block text-gray-600 text-sm text-justify">¡Cuidamos a tu mascota con nuestra toma de
                  muestras de manera segura y cómoda!
                  Realizamos análisis exactos para ofrecerte un diagnóstico y tratamiento óptimos, siempre con cariño y
                  atención.
                  <p>¡Tu mascota merece lo mejor!</p>
                </span>
              </div>
            </div>
            <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
              <div class="pt-8 text-center">
                <button onclick="openSampleModal()"
                  class="text-center rounded-lg p-4 bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 text-white font-bold text-lg transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Ver
                  más</button>
              </div>
            </div>
          </div>
        </div>


        <!-- Modal toma de muestra -->
        <div id="sample-modal"
          class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden z-50">
          <div class="relative bg-white p-6 rounded-lg max-w-xs shadow-md">
            <!-- Close Button (X) -->
            <button onclick="closeSampleModal()"
              class="absolute top-2 right-2 text-gray-600 hover:text-red-600 text-xl font-bold transition-colors duration-300 ease-in-out">
              &times;
            </button>

            <h2 class="text-lg font-semibold mb-3 border-b pb-1 border-gray-200">Detalles de Toma de Muestras</h2>
            <p class="mb-3 text-gray-700 text-sm">Toma de muestras de sangre: <strong>$25,000 CLP</strong></p>
            <p class="mb-3 text-gray-700 text-sm">Toma de muestras de orina: <strong>$20,000 CLP</strong></p>
            <p class="text-gray-600 mb-4 text-sm">Incluye análisis y diagnóstico preciso.</p>

            <div class="flex justify-end">
              <a href="{{ url_for('schedule') }}"
                class="text-center text-white px-3 py-1 rounded-md bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 font-semibold text-sm transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Agendar
                Cita</a>
            </div>
          </div>
        </div>


      </div>

      <!-- Slide 4 -->
      <div class="swiper-slide">
        <!-- Carta 4 -->
        <div class="py-4">
          <div
            class="carta4 shadow-lg group container rounded-md bg-white max-w-sm flex justify-center items-center mx-auto content-div">
            <div>
              <div class="w-full image-cover rounded-t-md">
                <!-- Imagen de la carta -->
              </div>
              <div class="py-8 px-4 bg-white bg-opacity-70 rounded-b-md fd-cl group-hover:opacity-25">
                <span class="block text-lg text-gray-800 font-bold tracking-wide">Especialidad Felina</span>
                <span class="block text-gray-600 text-sm text-justify">Ofrecemos atención especializada para gatos,
                  cubriendo todas sus necesidades médicas con un enfoque dedicado y profesional.
                  Nuestros veterinarios tienen experiencia en tratar enfermedades felinas y
                  proporcionar el mejor cuidado para tu mascota.</span>
              </div>
            </div>
            <div class="absolute opacity-0 fd-sh group-hover:opacity-100">
              <div class="pt-8 text-center">
                <button onclick="openFelineModal()"
                  class="text-center rounded-lg p-4 bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 text-white font-bold text-lg transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Ver
                  más</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal especialidad felina -->
        <div id="feline-modal"
          class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden z-50">
          <div class="relative bg-white p-6 rounded-lg max-w-xs shadow-md">
            <!-- Close Button (X) -->
            <button onclick="closeFelineModal()"
              class="absolute top-2 right-2 text-gray-600 hover:text-red-600 text-xl font-bold transition-colors duration-300 ease-in-out">
              &times;
            </button>

            <h2 class="text-lg font-semibold mb-3 border-b pb-1 border-gray-200">Detalles de Especialidad Felina</h2>
            <p class="mb-3 text-gray-700 text-sm">Especialidad felina: <strong>$60,000 CLP</strong></p>
            <p class="text-gray-600 mb-4 text-sm">Incluye evaluación completa, diagnóstico y tratamiento especializado
              para gatos.</p>

            <div class="flex justify-end">
              <a href="{{ url_for('schedule') }}"
                class="text-center text-white px-3 py-1 rounded-md bg-[#18beaa] hover:bg-[#18beaa]/80 active:bg-[#18beaa]/90 font-semibold text-sm transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg">Agendar
                Cita</a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- Paginación -->
    <div class="swiper-pagination"></div>
  </div>
</section>

<script>
  // Initialize Swiper with responsive breakpoints
  const swiper = new Swiper('.swiper-container', {
    slidesPerView: 1.25, // Default number of cards to show
    spaceBetween: 16, // Space between slides
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    breakpoints: {
      // When window width is >= 1024px
      1024: {
        slidesPerView: 4, // Show 2.5 cards
        spaceBetween: 32, // Space between slides
      },
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    }
  });
</script>

<!-- Fin Servicios -->

<!-- Us -->
<section class="text-gray-600 body-font">

  <div class="container mx-auto">
    <div class="flex flex-col">
      <div class="h-1 bg-gray-200 rounded overflow-hidden">
        <div class="h-full" style="background-color: #18beaa;"></div>
      </div>
      <div class="flex flex-wrap sm:flex-row flex-col py-4 mb-8">
        <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Nosotros</h1>
      </div>
    </div>

    <section>
      <div class="max-w-screen-xl px-4 py-6 sm:px-6 sm:py-10 lg:px-8 lg:py-12 mx-auto">
        <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
          <div class="mx-auto max-w-lg text-center lg:mx-0 ltr:lg:text-left rtl:lg:text-right">
            <h2 class="text-3xl font-bold sm:text-4xl">"Conoce al Equipo de GatiVet: Pasión y Experiencia al Servicio de
              Tu Mascota"</h2>

            <p class="mt-4 text-gray-600 text-justify">
              En <strong>GatiVet</strong>, contamos con un equipo altamente capacitado para el cuidado de tu mascota.
              <strong>Dr. Nicolás</strong>, nuestro médico veterinario,
              tiene un diplomado en especialidad felina, asegurando un tratamiento experto para gatos.
              <strong>Kirito</strong>, estudiante de medicina veterinaria, aporta conocimientos frescos y actuales.
            </p>
            <p class="text-justify"><strong>Nuestro compromiso es ofrecer un servicio de calidad con un enfoque
                personalizado y amoroso.
                Confía en nosotros para el mejor cuidado de tus compañeros peludos.</strong>
            </p>
          </div>

          <!-- Cartas de presentación -->
          <div class="flex flex-wrap justify-start -mx-4">
            <div class="p-4 md:w-1/2 mx-auto">
              <div
                class="max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg hover:shadow-green-dark transition-shadow duration-300 ease-in-out">
                <div class="relative">
                  <img class="w-full h-48 object-cover"
                    src="https://images.unsplash.com/photo-1557862921-37829c790f19?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHx1c2VyfGVufDB8MHx8fDE2OTQwOTU5Nzl8MA&ixlib=rb-4.0.3&q=80&w=1080"
                    alt="Profile Image">
                </div>
                <div class="px-6 py-4">
                  <div class="text-xl font-semibold text-gray-800">Nicolas</div>
                  <p class="text-gray-600">Médico veterinario</p>
                </div>
                <div class="px-6 py-4">
                  <span
                    class="inline-block px-2 py-1 font-semibold text-teal-900 bg-teal-200 rounded-full">Veterinario</span>
                </div>
              </div>
            </div>

            <div class="p-4 md:w-1/2 mx-auto">
              <div
                class="max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg hover:shadow-green-dark transition-shadow duration-300 ease-in-out">
                <div class="relative">
                  <img class="w-full h-48 object-cover"
                    src="https://images.unsplash.com/photo-1557862921-37829c790f19?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3w0NzEyNjZ8MHwxfHNlYXJjaHw4fHx1c2VyfGVufDB8MHx8fDE2OTQwOTU5Nzl8MA&ixlib=rb-4.0.3&q=80&w=1080"
                    alt="Profile Image">
                </div>
                <div class="px-6 py-4">
                  <div class="text-xl font-semibold text-gray-800">Kirito</div>
                  <p class="text-gray-600">Estudiante de M. veterinaria</p>
                </div>
                <div class="px-6 py-4">
                  <span class="inline-block px-2 py-1 font-semibold text-indigo-900 bg-indigo-200 rounded-full">En
                    formación</span>
                </div>
              </div>
            </div>
          </div>
          <!-- Fin cartas de presentación -->
        </div>
      </div>
    </section>
  </div>
</section>
<!-- Fin Us -->

<section class="container mx-auto">
  <div class="flex flex-col">
    <div class="h-1 bg-gray-200 rounded overflow-hidden">
      <div class="h-full" style="background-color: #18beaa;"></div>
    </div>
    <div class="flex flex-wrap sm:flex-row flex-col py-2 mb-4">
      <h1 class="sm:w-2/5 text-gray-900 font-medium title-font text-2xl mb-2 sm:mb-0">Reseñas de nuestros clientes</h1>
    </div>
  </div>
  <div class="max-w-[1340px] mx-4 px-4 py-4 sm:px-6">
    <div class="flex items-end justify-between">
      <div class="mt-4 flex gap-4 lg:mt-0">
        <button aria-label="Previous slide" id="keen-slider-previous"
          class="rounded-full border border-[#18beaa] p-3 text-[#18beaa] transition hover:bg-[#18beaa] hover:text-white">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-5 rtl:rotate-180">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
          </svg>
        </button>

        <button aria-label="Next slide" id="keen-slider-next"
          class="rounded-full border border-[#18beaa] p-3 text-[#18beaa] transition hover:bg-[#18beaa] hover:text-white">
          <svg class="size-5 rtl:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M9 5l7 7-7 7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
          </svg>
        </button>
      </div>
    </div>

    <div class="mt-4">
      <div id="keen-slider" class="keen-slider"></div> <!-- Aquí se agregan los slides dinámicamente -->
    </div>
  </div>
</section>
<!-- Fin Comentarios -->

<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}