{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<head>
  <!-- Importa el archivo CSS específico para profile -->
  <link rel="stylesheet" href="static/styles/profile.css?v=1.0">
</head>
<body>
    <!-- Container para Sidebar -->
    <div class="container flex">
        <!-- Sidebar -->
        <div id="sidebar" class="step-sidebar p-4 flex-none">
            <h2 class="text-xl font-bold mb-4 step-text">Mi cuenta</h2>
            <div class="flex flex-col space-y-4">
                <button onclick="showContent('profile')" class="flex items-center space-x-2">
                    <i class="fas fa-user step-icon" id="profile-icon"></i>
                    <span class="step-text" id="profile-text">Mis datos</span>
                </button>
                <button onclick="showContent('pets')" class="flex items-center space-x-2">
                    <i class="fas fa-paw step-icon" id="pets-icon"></i>
                    <span class="step-text" id="pets-text">Mis Mascotas</span>
                </button>
                <button onclick="showContent('carnet')" class="flex items-center space-x-2">
                    <i class="fas fa-id-card step-icon" id="carnet-icon"></i>
                    <span class="step-text" id="carnet-text">Carnet Digital</span>
                </button>
                <button onclick="showContent('certificates')" class="flex items-center space-x-2">
                    <i class="fas fa-certificate step-icon" id="certificates-icon"></i>
                    <span class="step-text" id="certificates-text">Solicitar Certificados</span>
                </button>
            </div>
        </div>

        <!-- Contenido Principal -->
        <div class="p-4">
            <!-- Aquí va el contenido principal de Datos -->
            <div id="profile" class="hidden step-content">
                <form id="profile-form" class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- Columna 1 -->
                    <div class="mb-4">
                        <label for="first-name" class="text-sm font-medium text-gray-900 block mb-2">Nombre:</label>
                        <input type="text" name="first-name" id="first-name" value="Juan" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
                    <div class="mb-4">
                        <label for="last-name" class="text-sm font-medium text-gray-900 block mb-2">Apellido Paterno:</label>
                        <input type="text" name="last-name" id="last-name" value="Pérez" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
                    <div class="mb-4">
                        <label for="maternal-last-name" class="text-sm font-medium text-gray-900 block mb-2">Apellido Materno:</label>
                        <input type="text" name="maternal-last-name" id="maternal-last-name" value="González" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
                    <div class="mb-4">
                        <label for="rut" class="text-sm font-medium text-gray-900 block mb-2">RUT:</label>
                        <input type="text" name="rut" id="rut" value="12.345.678-9" 
                            pattern="[0-9+]*" title="Solo se permiten números y el signo +" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
            
                    <!-- Columna 2 -->
                    <div class="mb-4">
                        <label for="address" class="text-sm font-medium text-gray-900 block mb-2">Dirección:</label>
                        <input type="text" name="address" id="address" value="Av. Siempre Viva 123" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
                    <div class="mb-4">
                        <label for="phone" class="text-sm font-medium text-gray-900 block mb-2">Teléfono:</label>
                        <input type="text" name="phone" id="phone" value="+56 9 1234 5678" 
                            pattern="[0-9+]*" title="Solo se permiten números y el signo +" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="text-sm font-medium text-gray-900 block mb-2">Correo:</label>
                        <input type="email" name="email" id="email" value="juan.perez@example.com" 
                            pattern=".+@.+" title="El correo debe contener al menos un @" 
                            class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-cyan-600 focus:border-cyan-600 block w-full p-2.5" required readonly>
                    </div>
                </form>
                <div class="flex space-x-4 mt-4">
                    <button type="button" id="edit-save-button" onclick="toggleEditSaveProfile()" 
                        class="px-4 py-2 text-white rounded-md bg-[#18beaa] hover:bg-[#16a89a] transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">Editar</button>
                </div>
            </div>
            <!-- Final contenido principal de Datos -->
            
        
            
            
            

            <div id="pets" class="hidden step-content">
                <h2 class="text-2xl font-bold mb-4">Mis Mascotas</h2>
                <select id="pet-select" class="block w-full border border-gray-300 rounded-md shadow-sm mb-4">
                    <option value="pet1">Rex</option>
                    <option value="pet2">Luna</option>
                </select>
                <div id="pet-details">
                    <p>Nombre: Rex</p>
                    <p>Edad: 3 años</p>
                    <p>Especie: Perro</p>
                    <button class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600">Editar Mascota</button>
                </div>
            </div>

            <div id="carnet" class="hidden step-content">
                <h2 class="text-2xl font-bold mb-4">Carnet Digital</h2>
                <p>Nombre: Rex</p>
                <p>Historial Médico: [Enlace al historial]</p>
                <p>Vacunas: [Lista de vacunas]</p>
                <button class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600">Editar Carnet</button>
            </div>

            <div id="certificates" class="hidden step-content">
                <h2 class="text-2xl font-bold mb-4">Solicitar Certificados</h2>
                <select id="certificate-select" class="block w-full border border-gray-300 rounded-md shadow-sm mb-4">
                    <option value="certificate1">Certificado de Salud</option>
                    <option value="certificate2">Certificado de Vacunas</option>
                </select>
                <button class="px-4 py-2 bg-green-500 text-white rounded-md hover:bg-green-600">Solicitar</button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/profile.js') }}"></script>

</body>

</html>

{% endblock %}
