{% extends "base.html" %}

{% block title %}Agenda{% endblock %}

{% block content %}

<!-- Body-->
<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto my-10 p-6 bg-white shadow-md rounded-lg">
        <!-- Pasos de progreso -->
        <div class="step-container">
            <div class="step-wrapper">
                <!-- Primer paso: Identificación -->
                <div class="flex flex-col items-center">
                    <i class="fas fa-id-card step-icon" id="id-icon" onclick="goToStep('step-id', 'id-icon')"></i>
                    <span class="step-icon-name text-sm" id="id-icon-name">Identificación</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-search step-icon" id="search-icon" onclick="goToStep('step-search', 'search-icon')"></i>
                    <span class="step-icon-name text-sm" id="search-icon-name">Buscar</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-check step-icon" id="select-icon" onclick="goToStep('step-select', 'select-icon')"></i>
                    <span class="step-icon-name text-sm" id="select-icon-name">Seleccionar Fecha y Hora</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-paw step-icon" id="pet-icon" onclick="goToStep('step-pet', 'pet-icon')"></i>
                    <span class="step-icon-name text-sm" id="pet-icon-name">Datos de Mascota</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-thumbs-up step-icon" id="success-icon"></i>
                    <span class="step-icon-name text-sm" id="success-icon-name">Éxito</span>
                </div>
            </div>
        </div>

        <!-- Form Sections -->
        <div id="form-steps">

            <!-- Identificación -->
            <div class="step-content p-6 bg-white shadow-md rounded-lg active" id="step-id">
                <h2 class="text-3xl font-bold text-gray-800 mb-6">Identificación</h2>
                <p class="text-gray-700 mb-4">Ingrese su RUT para continuar:</p>
                <input type="text" id="rut-input" placeholder="Ingrese su RUT"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 mb-4"
                    oninput="formatRut()">
                <div class="text-center mt-6">
                    <button onclick="
                        const rut = document.getElementById('rut-input').value;
                        if (!isValidRut(rut)) {
                            alert('Por favor, ingrese un RUT válido en el formato xx.xxx.xxx-x.');
                            return;
                        }
                        nextStep('step-id', 'step-search', 'id-icon');
                    "
                    class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Siguiente
                    </button>
                </div>
            </div>
            <!-- Fin identificación -->

            <!-- Búsqueda -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-search">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-start">
                    <div class="col-span-1 mb-6">
                        <!-- Selección de comuna -->
                        <h3 class="text-xl font-semibold text-gray-700 mb-3">Seleccionar comuna:</h3>
                        <select id="comuna-select"
                                class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                            <option value="puentealto">Puente Alto</option>
                            <option value="lapintana">La Pintana</option>
                            <option value="laflorida">La Florida</option>
                        </select>
                    
                        <!-- Selección de Área -->
                        <h3 class="text-xl font-semibold text-gray-700 mt-6 mb-3">Seleccionar área:</h3>
                        <select id="area-select"
                                class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                            <option value="general">Consulta General</option>
                            <option value="especialidad">Consulta Especialidad Felina</option>
                            <option value="telemedicina">Consulta Telemedicina</option>
                        </select>
                    </div>

                    <!-- Contenedor para Divisor Vertical y Buscar por -->
                    <div class="col-span-2 flex flex-col mb-6">
                        <div class="flex items-start mb-6">
                            <!-- Divisor Vertical -->
                            <div class="hidden md:block w-px h-40 bg-gray-300 mr-6"></div>

                            <!-- Buscar por -->
                            <div class="w-full">
                                <h3 class="text-xl font-semibold text-gray-700 mb-3">Buscar por:</h3>
                                <div class="flex space-x-4 mb-4">
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="search-type" value="staff" onclick="toggleSearch('staff')" class="form-radio text-blue-500 border-gray-300 focus:border-blue-500 focus:ring-blue-500">
                                        <span class="ml-2 text-gray-700">Staff</span>
                                    </label>
                                </div>

                                <!-- Búsqueda por Servicio y Staff en una fila -->
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                    <!-- Búsqueda por Servicio para el futuro -->
                                    <div id="service-search" class="hidden">
                                        <!-- Añadir más opciones según sea necesario -->
                                    </div>

                                    <!-- Búsqueda por Staff -->
                                    <div id="staff-search" class="hidden">
                                        <h3 class="text-xl font-semibold text-gray-700 mb-2">Seleccionar Doctor:</h3>
                                        <select id="staff-select"
                                                class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                                                onchange="updateDoctorInfoFromSelection()">
                                            <option value="none" selected>Seleccione un doctor</option>
                                            <option value="doctor1" data-name="Dr. Nicolás Villalba"
                                                    data-image="static/img/doctor1.jpg">Dr. Nicolás Villalba</option>
                                            <option value="doctor2" data-name="Dra. Kirito Aravena"
                                                    data-image="static/img/doctor2.jpg">Dra. Kirito Aravena</option>
                                            <!-- Añadir más opciones según sea necesario -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botón principal "Pedir Hora" -->
                <div class="text-center mt-6">
                    <button onclick="
                        const doctorSelected = document.getElementById('staff-select').value;
                        if (doctorSelected === 'none') {
                            alert('Por favor, seleccione un doctor.');
                            return;
                        }
                        nextStep('step-search', 'step-select', 'search-icon');
                    "
                    class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Pedir Hora
                    </button>
                </div>
            </div>
            <!-- Fin Búsqueda -->

            <!-- Selección -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-select">
                <p class="text-gray-700 mb-4">Seleccione la fecha y hora para su cita con el profesional seleccionado:</p>

                <div class="flex items-start">
                    <!-- Imagen del Doctor Seleccionado -->
                    <div class="w-1/3 mr-6 text-center">
                        <img id="doctor-image" src="static/img/Logo Gativet.png" alt="Imagen del Doctor"
                            class="w-full h-auto rounded-lg shadow-md">
                        <!-- Nombre del Doctor -->
                        <p id="doctor-name" class="mt-2 text-gray-800 font-semibold">Nombre del Doctor</p>
                    </div>

                    <!-- Selección de Fecha y Horas Disponibles -->
                    <div class="w-2/3">
                        <!-- Selección de Fecha -->
                        <div class="mb-4">
                            <label for="date-select" class="block text-gray-700 mb-2">Selecciona una fecha:</label>
                            <input type="date" id="date-select"
                                class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400">
                        </div>

                        <!-- Selección de Hora -->
                        <div class="mb-4">
                            <label for="time-select" class="block text-gray-700 mb-2">Selecciona una hora:</label>
                            <div id="time-select" class="flex flex-wrap gap-2">
                                <!-- Botones de horas (ejemplo) -->
                                <button type="button" class="px-4 py-2 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer" data-time="09:00">09:00</button>
                                <button type="button" class="px-4 py-2 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer" data-time="10:00">10:00</button>
                                <button type="button" class="px-4 py-2 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer" data-time="11:00">11:00</button>
                            </div>
                            <input type="hidden" id="selected-time"> <!-- Campo oculto para almacenar la hora seleccionada -->
                        </div>
                    </div>

                </div>

                <!-- Botón principal "Pedir Hora" -->
                <div class="text-center mt-6">
                    <button onclick="
                            if (!validateDateTime()) return;
                            nextStep('step-select', 'step-pet', 'select-icon');
                            "
                        class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Pedir Hora
                    </button>

                </div>
            </div>
            <!-- Fin selección -->

            <!-- Datos de Mascota -->
            <!-- Selección de Mascota -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-pet">
                <h4 class="text-3xl font-bold text-gray-800 mb-6">Seleccione su mascota:</h4>

                <!-- Contenedor para Selector y Tarjeta -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- Selector de mascotas -->
                    <div>
                        <label for="pet-select" class="block text-gray-700 mb-2">Seleccione una mascota:</label>
                        <select id="pet-select"
                            class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                            onchange="updatePetDetails()">
                            <!-- Opciones de ejemplo, deben ser generadas dinámicamente con JavaScript -->
                            <option value="">Seleccione una mascota</option>
                            <option value="1" data-name="Firulais" data-age="5" data-breed="Labrador" data-image="https://media.tenor.com/ZJT4S4lpfpIAAAAM/perro-bailando.gif">Firulais</option>
                            <option value="2" data-name="Mittens" data-age="3" data-breed="Siamés" data-image="https://i.pinimg.com/originals/30/29/51/3029517e824f67d07d86af9bf0b0d795.gif">Mittens</option>
                            <!-- Añadir más opciones según sea necesario -->
                        </select>
                    </div>

                    <!-- Tarjeta de detalles de la mascota -->
                    <div id="pet-card" class="hidden p-6 rounded-lg shadow-lg bg-[#e6f9f0]">
                        <div class="flex flex-col md:flex-row items-center">
                            <!-- Imagen de la mascota -->
                            <img id="pet-image" src="" alt="Imagen de la mascota" class="w-32 h-32 object-cover rounded-lg mb-4 md:mb-0 md:mr-6">
                            <!-- Detalles de la mascota -->
                            <div>
                                <h5 id="pet-name" class="text-2xl font-semibold text-gray-800 mb-2">Nombre de la mascota</h5>
                                <p id="pet-age" class="text-gray-700">Edad: X años</p>
                                <p id="pet-breed" class="text-gray-700">Raza: X raza</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Detalles de la cita -->
                <div class="mb-4 mt-6">
                    <label for="appointment-details" class="block text-gray-700 mb-2">Detalles de la cita:</label>
                    <textarea id="appointment-details" rows="4"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                        placeholder="Especifique qué le pasa a su mascota o lo que necesita para la cita."></textarea>
                </div>

                <!-- Botón para enviar -->
                <div class="text-center mt-6">
                    <button onclick="confirmAppointment()"
                    class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Confirmar Cita
                    </button>
                </div>
            </div>
            <!-- Fin datos de mascota -->

            <!-- Éxito -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg" id="step-success">
                <h2 class="text-3xl font-bold text-gray-800 mb-6">¡Éxito!</h2>
                <p class="text-gray-700 mb-4">Tu cita ha sido confirmada exitosamente.</p>
                <p class="text-gray-600 mb-4">Te hemos enviado un correo electrónico con los detalles de la cita.</p>

                <!-- Tarjeta de Resumen de Cita -->
                <div class="bg-[#f0f9f8] p-6 rounded-lg shadow-lg">
                    <h3 class="text-2xl font-semibold text-gray-800 mb-4">Resumen de la Cita</h3>
                    <p id="summary-date" class="text-gray-700">Fecha: [Fecha]</p>
                    <p id="summary-time" class="text-gray-700">Hora: [Hora]</p>
                    <p id="summary-doctor" class="text-gray-700">Doctor: [Nombre del Doctor]</p>
                    <p id="summary-pet" class="text-gray-700">Mascota: [Nombre de la Mascota]</p>
                    <p id="summary-address" class="text-gray-700">Domicilio: [Dirección]</p>
                </div>

                <div class="text-center mt-6">
                    <a href="/" class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Volver al Inicio
                    </a>
                </div>
            </div>
            <!-- Fin éxito -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/schedule.js') }}">

    </script>
    


</body>
{% endblock %}