{% extends "base_producto.html" %}

{% block title %}Agenda{% endblock %}

{% block content %}

<head>
    <!-- Importa el archivo CSS específico para profile -->
    <link rel="stylesheet" href="static/styles/schedule.css?v=1.0" />
</head>

<!-- Body-->

<body class="bg-gray-100">
    <div class="max-w-4xl mx-auto my-10 p-6 bg-white shadow-md rounded-lg">
        <!-- Pasos de progreso -->
        <div class="step-container">
            <div class="step-wrapper">
                <!-- Primer paso: Identificación -->
                <div class="flex flex-col items-center">
                    <i class="fas fa-id-card step-icon" id="id-icon"
                        onclick="handleStepClick('step-id', 'id-icon')"></i>
                    <span class="step-icon-name text-sm" id="id-icon-name">Identificación</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-search step-icon" id="search-icon"
                        onclick="handleStepClick('step-search', 'search-icon')"></i>
                    <span class="step-icon-name text-sm" id="search-icon-name">Buscar</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-check step-icon" id="select-icon"
                        onclick="handleStepClick('step-select', 'select-icon')"></i>
                    <span class="step-icon-name text-sm" id="select-icon-name">Seleccionar Fecha y Hora</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-paw step-icon" id="pet-icon" onclick="handleStepClick('step-pet', 'pet-icon')"></i>
                    <span class="step-icon-name text-sm" id="pet-icon-name">Datos de Mascota</span>
                </div>
                <div class="flex flex-col items-center">
                    <i class="fas fa-thumbs-up step-icon" id="success-icon"></i>
                    <span class="step-icon-name text-sm" id="success-icon-name">Éxito</span>
                </div>
            </div>
        </div>

        <!-- Form Sections -->
        <div id="form-steps">

            <!-- Identificación -->
            <div class="step-content p-6 bg-white shadow-md rounded-lg active" id="step-id">
                <h2 class="text-3xl font-bold text-gray-800 mb-6">Identificación</h2>

                <p class="text-gray-700 mb-4">Ingrese su RUT para continuar:</p>
                <input type="text" id="rut-input" placeholder="Ingrese su RUT"
                    class="w-1/2 mx-auto px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400 mb-4"
                    oninput="formatRut()">

                <div class="text-center mt-6">
                    <button onclick="
            const rut = document.getElementById('rut-input').value;
            
            // RUT registrado de ejemplo
            const registeredRUTs = ['12.345.678-9', '98.765.432-1']; // Aquí puedes agregar RUTs válidos

            // Verificar si el RUT está registrado
            if (!registeredRUTs.includes(rut)) {
                alert('Este RUT no está registrado. Por favor, regístrese primero.');
                return; // No continuar si no está registrado
            }
            
            if (!isValidRut(rut)) {
                alert('Por favor, ingrese un RUT válido en el formato xx.xxx.xxx-x.');
                return;
            }

            nextStep('step-id', 'step-search', 'id-icon');
        " class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Siguiente
                    </button>
                </div>
            </div>
            <!-- Fin identificación -->


            <!-- Búsqueda -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg active" id="step-search">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-6 items-start">
                    <div class="col-span-1 mb-6">

                        <!-- Tarjeta de Usuario -->
                        <h3 class="text-2xl font-semibold text-[#18beaa] mb-2">Bienvenido:</h3>

                        <div id="user-card"
                            class="hidden mt-2 p-4 border rounded-lg shadow-lg bg-white max-w-xs mx-auto hover:shadow-xl">
                            <h3 class="text-xl font-bold text-[#18beaa]" id="user-name">Nombre del Usuario</h3>
                            <p class="text-gray-700 text-sm mb-1"><strong>Dirección:</strong> <span
                                    id="user-address">Calle Ejemplo 123</span></p>
                            <p class="text-gray-700 text-sm mb-1"><strong>Teléfono:</strong> <span id="user-phone">+56 9
                                    1234 5678</span></p>
                        </div>


                        <!-- Selección de Área -->
                        <h3 class="text-xl font-semibold text-gray-700 mt-6 mb-3">Seleccionar área:</h3>
                        <select id="area-select"
                            class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                            <option value="" disabled selected>-- Seleccione Área</option>
                            <option value="general">Consulta General</option>
                            <option value="especialidad">Consulta Especialidad Felina</option>
                            <option value="telemedicina">Consulta Telemedicina</option>
                        </select>
                    </div>

                    <!-- Contenedor para Divisor Vertical y Buscar por -->
                    <div class="col-span-2 flex flex-col mb-6">

                        <!-- Divisor Vertical para mantener separación -->
                        <div class="flex items-start mb-6">
                            <div class="hidden md:block w-px h-40 bg-gray-300 mr-6"></div>

                            <!-- Seleccionar Dr -->
                            <div class="w-full">
                                <h3 class="text-xl font-semibold text-gray-700 mb-3">Seleccionar Dr(a):</h3>
                                <div class="flex space-x-4 mb-4">
                                    <label class="inline-flex items-center">
                                        <input type="radio" name="search-type" value="staff"
                                            onclick="toggleSearch('staff')"
                                            class="form-radio text-blue-500 border-gray-300 focus:border-blue-500 focus:ring-blue-500">
                                        <span class="ml-2 text-gray-700 text-base">Staff</span>
                                    </label>
                                </div>

                                <!-- Búsqueda por Staff -->
                                <div id="staff-search" class="hidden">
                                    <select id="staff-select"
                                        class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                                        onchange="updateDoctorInfoFromSelection()">
                                        <option value="none" selected>Seleccione un doctor</option>
                                        <option value="" disabled selected>-- Seleccione Dr(a)</option>
                                        <option value="doctor1" data-name="Dr. Nicolás Villalba"
                                            data-image="static/img/doctor1.jpg">Dr. Nicolás Villalba</option>
                                        <option value="doctor2" data-name="Dra. Kirito Aravena"
                                            data-image="static/img/doctor2.jpg">Dra. Kirito Aravena</option>
                                        <!-- Añadir más opciones según sea necesario -->
                                    </select>
                                </div>

                                <!-- Selección de Servicio -->
                                <div class="w-full mb-4">
                                    <h3 class="text-xl font-semibold text-gray-700 mt-6 mb-3">Seleccionar servicio:</h3>
                                    <select id="service-select" onchange="updateServiceValue()"
                                        class="block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50">
                                        <option value="" disabled selected>-- Seleccione servicio</option>
                                        <option value="desparacitaciones" data-price="15000">Desparacitaciones</option>
                                        <option value="vacunas" data-price="20000">Vacunas</option>
                                        <option value="control_sano" data-price="25000">Control sano</option>
                                        <option value="examenes_laboratorio" data-price="30000">Exámenes de laboratorio
                                        </option>
                                        <option value="microchip" data-price="18000">Microchip</option>
                                    </select>
                                </div>

                                <!-- Estilo para el valor del servicio -->
                                <div id="service-value-display" class="mt-2" style="font-size: 0.75rem; color: gray;">
                                    Seleccione un servicio para ver el precio.
                                </div>


                                <!-- Búsqueda por Servicio y Staff en una fila -->
                                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                                    <!-- Búsqueda por Servicio para el futuro -->
                                    <div id="service-search" class="hidden">
                                        <!-- Añadir más opciones según sea necesario -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Botón principal "Pedir Hora" -->
                <div class="text-center mt-6">
                    <button onclick="
            const doctorSelected = document.getElementById('staff-select').value;
            if (doctorSelected === 'none') {
                alert('Por favor, seleccione un doctor.');
                return;
            }
            nextStep('step-search', 'step-select', 'search-icon');
        " class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Pedir Hora
                    </button>
                </div>
            </div>
            <!-- Fin Búsqueda -->

            <!-- Selección -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg active" id="step-select">
                <p class="text-gray-700 mb-4">
                    <strong>Seleccione la fecha y hora para su cita con el profesional seleccionado:</strong>
                </p>

                <div class="flex flex-col md:flex-row items-start justify-center"> <!-- Añadido justify-center -->
                    <!-- Imagen del Doctor Seleccionado -->
                    <div class="w-full md:w-1/3 mb-4 md:mb-0 text-center">
                        <img id="doctor-image" src="static/img/Logo Gativet.png" alt="Imagen del Doctor"
                            class="w-full h-auto rounded-lg shadow-md">
                        <!-- Nombre del Doctor -->
                        <p id="doctor-name" class="mt-2 text-gray-800 font-semibold">Nombre del Doctor</p>
                    </div>

                    <!-- Selección de Fecha y Horas Disponibles -->
                    <div class="w-full md:w-2/3 flex flex-col items-center"> <!-- Cambiado a flex y centrado -->
                        <!-- Selección de Fecha -->
                        <div class="mb-4 calendar-container">
                            <div id="month-name" class="month-name"></div> <!-- Nombre del mes -->
                            <div class="nav-buttons text-center"> <!-- Centrado -->
                                <button id="prev-month" class="mx-2">←</button>
                                <!-- Flecha para regresar al mes actual -->
                                <button id="next-month" class="mx-2">→</button> <!-- Flecha para avanzar -->
                            </div>
                            <div id="calendar" class="calendar mx-auto mb-4"></div>
                            <input type="hidden" id="date-select" />
                        </div>

                        <!-- Selección de Hora -->
                        <div class="mb-4">
                            <label for="time-select" class="block text-gray-700 mb-1 text-sm">Selecciona una
                                hora:</label>
                            <div id="time-select" class="flex flex-wrap gap-2 justify-center"></div> <!-- Centrado -->
                            <input type="hidden" id="selected-time">
                        </div>
                    </div>
                </div>

                <!-- Mensaje informativo sobre cambios de hora y confirmación -->
                <p class="text-gray-600 text-sm mt-4 text-center">
                    Recuerda que puedes cambiar la hora 24 horas antes de la cita. Además, puedes enviar un mensaje por
                    WhatsApp para confirmar tu cita.
                </p>

                <!-- Botón principal "Pedir Hora" -->
                <div class="text-center mt-6">
                    <button onclick="
            if (!validateDateTime()) return;
            nextStep('step-select', 'step-pet', 'select-icon');
        " class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Pedir Hora
                    </button>
                </div>
            </div>
            <!-- Fin selección -->


            <!-- Datos de Mascota -->
            <!-- Selección de Mascota -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg active" id="step-pet">

                <!-- Contenedor para Selector y Tarjeta -->
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <!-- Selector de mascotas -->
                    <div>
                        <label for="pet-select" class="block text-gray-700 mb-2 text-sm"><strong>Seleccione a su
                                mascota:</strong></label>
                        <select id="pet-select"
                            class="w-48 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                            onchange="updatePetDetails()">
                            <!-- Opciones de ejemplo, deben ser generadas dinámicamente con JavaScript -->
                            <option value="" class="">Seleccione una mascota</option>
                            <option value="1" data-name="Firulais" data-age="5" data-breed="Labrador"
                                data-image="https://media.tenor.com/ZJT4S4lpfpIAAAAM/perro-bailando.gif">Firulais
                            </option>
                            <option value="2" data-name="Mittens" data-age="3" data-breed="Siamés"
                                data-image="https://i.pinimg.com/originals/30/29/51/3029517e824f67d07d86af9bf0b0d795.gif">
                                Mittens</option>
                            <!-- Añadir más opciones según sea necesario -->
                        </select>
                    </div>

                    <!-- Tarjeta de detalles de la mascota -->
                    <div id="pet-card"
                        class="hidden p-6 rounded-lg shadow-lg bg-[#e6f9f0] max-w-sm mx-auto transition-transform transform hover:scale-105 duration-300">
                        <div class="flex flex-col md:flex-row items-center">
                            <!-- Imagen de la mascota -->
                            <img id="pet-image" src="" alt="Imagen de la mascota"
                                class="w-32 h-32 object-cover rounded-lg mb-4 md:mb-0 md:mr-6 shadow-md border-2 border-[#18beaa]">
                            <!-- Detalles de la mascota -->
                            <div class="text-center md:text-left">
                                <h5 id="pet-name" class="text-3xl font-semibold text-[#18beaa] mb-2">Nombre de la
                                    mascota</h5>
                                <p id="pet-age" class="text-gray-800 font-medium"><strong>Edad:</strong> <span
                                        class="text-[#18beaa]">X años</span></p>
                                <p id="pet-breed" class="text-gray-800 font-medium"><strong>Raza:</strong> <span
                                        class="text-[#18beaa]">X raza</span></p>
                            </div>
                        </div>
                    </div>



                </div>

                <!-- Detalles de la cita -->
                <div class="mb-4 mt-6">
                    <label for="appointment-details" class="block text-gray-700 mb-2 text-sm"><strong>Detalles de la
                            cita:</strong></label>
                    <textarea id="appointment-details" rows="4"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-green-400"
                        placeholder="Especifique qué le pasa a su mascota o lo que necesita para la cita."></textarea>
                </div>

                <!-- Botón para enviar -->
                <div class="text-center mt-6">
                    <button onclick="confirmAppointment()"
                        class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Confirmar Cita
                    </button>
                </div>
            </div>
            <!-- Fin datos de mascota -->

            <!-- Éxito -->
            <div class="step-content hidden p-6 bg-white shadow-md rounded-lg active" id="step-success">
                <h2 class="text-3xl font-bold text-gray-800 mb-6">¡Éxito!</h2>
                <p class="text-gray-700 mb-4"><strong>Tu cita ha sido confirmada exitosamente.</strong></p>
                <p class="text-gray-600 mb-4">Te hemos enviado un correo electrónico con los detalles de la cita.
                </p>

                <!-- Tarjeta de Resumen de Cita -->
                <div class="bg-[#e6f9f0] p-6 rounded-lg shadow-lg max-w-lg mx-auto">
                    <h3 class="text-3xl font-semibold text-[#18beaa] mb-4 text-center">Resumen de la Cita</h3>
                    <div class="space-y-2">
                        <p id="summary-date" class="text-gray-800 font-medium"><strong>Fecha:</strong> <span
                                class="text-gray-700">[Fecha]</span></p>
                        <p id="summary-time" class="text-gray-800 font-medium"><strong>Hora:</strong> <span
                                class="text-gray-700">[Hora]</span></p>
                        <p id="summary-doctor" class="text-gray-800 font-medium"><strong>Doctor:</strong> <span
                                class="text-gray-700">[Nombre del Doctor]</span></p>
                        <p id="summary-pet" class="text-gray-800 font-medium"><strong>Mascota:</strong> <span
                                class="text-gray-700">[Nombre de la Mascota]</span></p>
                        <p id="summary-address" class="text-gray-800 font-medium"><strong>Domicilio:</strong> <span
                                class="text-gray-700">[Dirección]</span></p>
                    </div>
                </div>


                <div class="text-center mt-6">
                    <a href="/"
                        class="px-6 py-3 bg-[#18beaa] hover:bg-[#16a89a] text-white font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75 transition duration-300 ease-in-out transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg cursor-pointer">
                        Volver al Inicio
                    </a>
                </div>
            </div>
            <!-- Fin éxito -->
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/schedule.js') }}">

    </script>



</body>
{% endblock %}