.step-icon {
    transition: color 0.3s ease, transform 0.3s ease;
    color: rgb(24, 190, 170);
    /* Color por defecto */
    font-size: 2.5rem;
    /* Tamaño del ícono */
}

.step-icon.completed {
    color: #077064;
    /* Color cuando el paso está completo */
}

.step-icon:hover {
    color: rgb(24, 190, 170);
    /* Color al pasar el ratón */
    transform: scale(1.1);
}

.step-icon-name {
    transition: color 0.3s ease;
    color: rgb(24, 190, 170);
    /* Color por defecto */
    margin-top: 0.5rem;
    /* Espacio arriba del nombre */
}

.step-icon-name.completed {
    color: #077064;
    /* Color cuando el paso está completo */
}

.profile-link:hover .profile-text {
    opacity: 1; /* Muestra el tooltip al pasar el cursor */
}

.profile-text {
    visibility: hidden; /* Oculta el tooltip por defecto */
    width: 60px; /* Ancho de la burbuja más pequeño */
    background-color: rgb(24, 190, 170); /* Color de fondo */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto */
    border-radius: 20px; /* Bordes más redondeados */
    padding: 2px; /* Espaciado interno reducido */
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Posiciona el tooltip encima del ícono */
    left: 50%;
    transform: translateX(-50%); /* Centra el tooltip */
    margin-bottom: 5px; /* Espacio entre el ícono y el tooltip */
    opacity: 0; /* Oculta el tooltip */
    transition: opacity 0.3s; /* Transición suave */
    font-size: 12px; /* Tamaño de fuente más pequeño */
}

.profile-link:hover .profile-text {
    visibility: visible; /* Muestra el tooltip al pasar el cursor */
    opacity: 1; /* Cambia la opacidad para hacerlo visible */
}


.step-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.step-content {
    width: 100%;
    margin: 1rem 0;
    transition: background-color 0.3s ease, border-left 0.3s ease;
}

.step-content.active {
    background-color: #e6f9f0;
    /* Color de fondo para la sección activa (verde claro) */
    border-left: 4px solid rgb(24, 190, 170);
    /* Línea de borde para la sección activa (verde) */
}

.step-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.step-wrapper>div {
    text-align: center;
}

/* Estilos para ocultar el modal */
.hidden { display: none; }
/* Estilo de fondo para el modal */
.fixed { position: fixed; top: 0; left: 0; right: 0; bottom: 0; }
.bg-black { background-color: rgba(0, 0, 0, 0.7); }
.z-50 { z-index: 50; }


/* Estilos del botón */
#commentIcon {
    padding: 10px;
    background-color: #18beaa; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Suaviza la transición del color */
}

#commentIcon:hover {
    background-color: #148f7a; /* Color más oscuro al pasar el mouse */
}


label {
    font-size: 24px; /* Ajusta el tamaño de la estrella */
}
