.swiper-container {
    width: 100%;
    overflow: hidden;
    /* Evita el desbordamiento horizontal */
  }

  .swiper-wrapper {
    display: flex;
  }

  .content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  

  .carta1 {
  background-image: url('../img/MedicinaGeneral.jpg');
  }

  .carta1:hover {
  background-image: linear-gradient(to right, rgba(105, 217, 205, 0.5), rgba(24, 190, 170, 0.5)),
  url('../img/MedicinaGeneral.jpg');
  }

  .carta2 {
    background-image: url('../img/Vacunas.jpg');
  }

  .carta2:hover {
  background-image: linear-gradient(to right, rgba(105, 217, 205, 0.5), rgba(24, 190, 170, 0.5)),
  url('../img/Vacunas.jpg');
}

  .carta3 {
    background-image: url('../img/TomaMuestra.jpg');
  }

  .carta3:hover {
    background-image: linear-gradient(to right, rgba(105, 217, 205, 0.5), rgba(24, 190, 170, 0.5)),
    url('../img/TomaMuestra.jpg');
  }

  .carta4 {
    background-image: url('../img/EspecialidadFelinos.jpg');
  }
  
  .carta4:hover {
    background-image: linear-gradient(to right, rgba(105, 217, 205, 0.5), rgba(24, 190, 170, 0.5)),
    url('../img/EspecialidadFelinos.jpg');
  }

  .carta5 {
  background-image: url('../img/CuidadosPreventivos.jpg');
  }

  .carta5:hover {
  background-image: linear-gradient(to right, rgba(105, 217, 205, 0.5), rgba(24, 190, 170, 0.5)),
  url('../img/CuidadosPreventivos.jpg');
  }

  .content-div:hover {
    background-image: linear-gradient(to right,
        rgba(24, 190, 171, 0.342),
        hsla(174, 60%, 63%, 0.705)),
        
  }

  .image-cover {
    height: 200px;
    background-size: contain;
    background-position: top;
    object-fit: contain;
    background-repeat: no-repeat;
  }

  .content-div:hover .fd-cl {
    opacity: 0.25;
  }

  .content-div:hover .fd-sh {
    opacity: 1;
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: #ffffff; /* Color de los iconos */
    width: 44px;
    height: 44px;
    background-color: rgba(24, 190, 170, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Asegúrate de que el z-index sea alto para que los botones estén encima del contenido */
    position: fixed; /* Mantiene los botones fijos en la pantalla */
    top: 50%; /* Alinea verticalmente en el medio de la pantalla */
    transform: translateY(-50%); /* Ajusta la posición verticalmente al centro */
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #18beaa;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 20px;
  }

  .swiper-button-next {
    right: 100px;
  }

  .swiper-button-prev {
    left: 100px;
  }

  #keen-slider {
    max-width: 100%; /* Ajusta esto según sea necesario */
}

