.product {
    display: flex; /* Asegúrate de que los elementos hijos estén alineados correctamente */
    flex: 0 1 calc(33.333% - 16px); /* Cambia el porcentaje según cuántos productos deseas mostrar por fila */
    margin: 10px; /* Ajusta los márgenes según sea necesario */
    padding: 20px; /* Agrega un poco de espacio interno */
    border-radius: 5px; /* Suaviza los bordes */
    width: calc(100% / 3 - 20px); /* Ajusta el ancho según el diseño */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el ancho */
    
}

#productContainer {
    display: flex;
    flex-wrap: wrap; /* Esto permite que los productos se envuelvan a la siguiente línea si no hay suficiente espacio */
    gap: 16px; /* Espacio entre los productos (ajusta según sea necesario) */
}

@media (max-width: 768px) {
    .product {
        width: calc(100% / 2 - 20px); /* Dos columnas en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%; /* Una columna en pantallas muy pequeñas */
    }
}

/* Estilo para el menú de hamburguesa */
#hamburgerMenu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    z-index: 100;
}

#hamburgerMenu .menuItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

#hamburgerMenu .menuItem:hover {
    background: #f0f0f0;
}

/* Ocultar el menú de filtros y ordenamiento en pantallas pequeñas */
#filtersAndSort {
    display: none; /* Ocultamos el menú por defecto */
}

/* Mostrar el menú de filtros y ordenamiento en pantallas grandes */
#desktopFiltersAndSort {
    display: flex; /* O cualquier otra propiedad que desees */
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
    #desktopFiltersAndSort {
        display: none; /* Ocultamos el menú en pantallas pequeñas */
    }

    #filtersAndSort {
        display: block; /* Mostramos el menú en pantallas pequeñas */
    }
}
