/* Sidebar Styles */
.step-sidebar {
    background-color: #ffffff;
    /* Fondo blanco */
    border-right: 1px solid #e5e7eb;
    width: 250px;
    /* Ancho por defecto */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    /* Esquinas redondeadas */
    height: calc(35vh - 2rem);
    /* Altura fija menos un margen */
    overflow-y: auto;
    /* Scroll vertical si el contenido excede la altura */
}

.step-sidebar.collapsed {
    width: 80px;
    /* Ancho colapsado */
}

/* Iconos y texto */
.step-icon {
    font-size: 1.5rem;
    color: rgb(24, 190, 170);
    transition: color 0.3s ease;
}

.step-icon.active {
    color: #077064;
}

.step-text {
    transition: opacity 0.3s ease;
}

.step-sidebar.collapsed .step-text {
    opacity: 0;
    /* Oculta el texto en el estado colapsado */
}

/* Botones */
.step-sidebar button {
    transition: background-color 0.3s ease;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
}

.step-sidebar button:hover,
.step-sidebar button:focus {
    background-color: #e2f0e8;
}

.step-sidebar button:active {
    background-color: #c1e1c1;
}

/* Agrega esta clase a tu archivo CSS */
.edit-mode {
    border: 2px solid #18beaa;
    /* Borde verde para indicar edición */
    background-color: #f0f8f7;
    /* Fondo ligeramente diferente */
}

/* Responsividad */
@media (max-width: 768px) {
    .step-sidebar {
        width: 80px;
        /* Ancho colapsado */
        height: 400px;
        /* Altura fija menos un margen */
    }

    .step-sidebar .step-text {
        opacity: 0;
        /* Oculta el texto en pantallas pequeñas */
    }
}

/* Ajuste para pantallas grandes */
@media (min-width: 1024px) {
    .step-content input {
        max-width: 100%;
        /* Ancho máximo del 50% en pantallas grandes */
    }
}

/* Alinear el contenedor principal al lado izquierdo */
.container {
    display: flex;
    width: 100%;
    margin: 0;
    /* Elimina cualquier margen por defecto */
}

/* icono lapiz modo edición */
.edit-icon {
    font-size: 1rem; /* Tamaño del ícono */
    color: #18beaa; /* Color del ícono */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Desactiva la interacción del mouse */
}

.edit-icon.hidden {
    opacity: 0;
    display: none; /* Oculta completamente el elemento */
}

.edit-mode .edit-icon {
    opacity: 1;
}

.edit-icon.disabled {
    opacity: 0.5; /* Opcional: cambia la opacidad para indicar que está deshabilitado */
}
.hidden {
    display: none; /* Oculta completamente el elemento */
}


/* Fin icono lapiz modo edición */

/*css celular*/

.phone-input-container {
    display: flex;
    align-items: center;
}

.phone-prefix {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #18beaa; /* Color del prefijo */
}

#phone {
    flex: 1; /* Toma el espacio restante */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}

/* fin css celular*/

/* Ajusta el espacio entre columnas */
.reduce-column-gap {
    grid-column-gap: 0.5rem; /* Ajusta el espacio entre columnas según sea necesario */
}
/* Ajusta el tamaño de los inputs */
.input-short {
    width: 80%; /* Ajusta el ancho de los inputs a un tamaño corto */
}
/* Fondo blanco para el formulario y los campos de entrada */
.form-background {
    background-color: #ffffff; /* Color de fondo blanco */
    padding: 1rem; /* Añade un poco de relleno alrededor del formulario */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
}
.input-background {
    background-color: #ffffff; /* Fondo blanco para los inputs */
}

/* Asegúrate de que el contenedor principal esté alineado correctamente */
.step-content {
    margin-top: 0; /* Ajusta el margen superior según sea necesario */
}

.form-background {
    background-color: #ffffff; /* Fondo blanco */
    padding: 16px; /* Ajusta el padding según sea necesario */
    border-radius: 8px; /* Bordes redondeados para una apariencia más suave */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para el formulario */
}
