/* Sidebar Styles */
.step-sidebar {
    background-color: #ffffff;
    /* Fondo blanco */
    border-right: 1px solid #e5e7eb;
    width: 250px;
    /* Ancho por defecto */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    /* Esquinas redondeadas */
    height: calc(35vh - 2rem);
    /* Altura fija menos un margen */
    overflow-y: auto;
    /* Scroll vertical si el contenido excede la altura */
}

.step-sidebar.collapsed {
    width: 80px;
    /* Ancho colapsado */
}

/* Iconos y texto */
.step-icon {
    font-size: 1.5rem;
    color: rgb(24, 190, 170);
    transition: color 0.3s ease;
}

.step-icon.active {
    color: #077064;
}

.step-text {
    transition: opacity 0.3s ease;
}

.step-sidebar.collapsed .step-text {
    opacity: 0;
    /* Oculta el texto en el estado colapsado */
}

/* Botones */
.step-sidebar button {
    transition: background-color 0.3s ease;
    border: none;
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;
}

.step-sidebar button:hover,
.step-sidebar button:focus {
    background-color: #e2f0e8;
}

.step-sidebar button:active {
    background-color: #c1e1c1;
}

/* Agrega esta clase a tu archivo CSS */
.edit-mode {
    border: 2px solid #18beaa;
    /* Borde verde para indicar edición */
    background-color: #f0f8f7;
    /* Fondo ligeramente diferente */
}

/* Responsividad */
@media (max-width: 768px) {
    .step-sidebar {
        width: 80px;
        /* Ancho colapsado */
        height: 400px;
        /* Altura fija menos un margen */
    }

    .step-sidebar .step-text {
        opacity: 0;
        /* Oculta el texto en pantallas pequeñas */
    }
}

/* Ajuste para pantallas grandes */
@media (min-width: 1024px) {
    .step-content input {
        max-width: 100%;
        /* Ancho máximo del 50% en pantallas grandes */
    }
}

/* Alinear el contenedor principal al lado izquierdo */
.container {
    display: flex;
    width: 100%;
    margin: 0;
    /* Elimina cualquier margen por defecto */
}

/* icono lapiz modo edición */
.edit-icon {
    font-size: 1rem; /* Tamaño del ícono */
    color: #18beaa; /* Color del ícono */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Desactiva la interacción del mouse */
}

.edit-icon.hidden {
    opacity: 0;
    display: none; /* Oculta completamente el elemento */
}

.edit-mode .edit-icon {
    opacity: 1;
}

.edit-icon.disabled {
    opacity: 0.5; /* Opcional: cambia la opacidad para indicar que está deshabilitado */
}
.hidden {
    display: none; /* Oculta completamente el elemento */
}


/* Fin icono lapiz modo edición */

/*css celular*/

.phone-input-container {
    display: flex;
    align-items: center;
}

.phone-prefix {
    font-size: 1rem;
    margin-right: 0.5rem;
    color: #18beaa; /* Color del prefijo */
}

#phone {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.hidden {
    display: none;
}

/* fin css celular*/

/* Ajusta el espacio entre columnas */
.reduce-column-gap {
    grid-column-gap: 0.5rem; /* Ajusta el espacio entre columnas según sea necesario */
}
/* Ajusta el tamaño de los inputs */
.input-short {
    width: 80%; /* Ajusta el ancho de los inputs a un tamaño corto */
}
/* Fondo blanco para el formulario y los campos de entrada */
.form-background {
    background-color: #ffffff; /* Color de fondo blanco */
    padding: 1rem; /* Añade un poco de relleno alrededor del formulario */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1); /* Sombra ligera para profundidad */
}
.input-background {
    background-color: #ffffff; /* Fondo blanco para los inputs */
}

/* Asegúrate de que el contenedor principal esté alineado correctamente */
.step-content {
    margin-top: 0; /* Ajusta el margen superior según sea necesario */
}


/*css mascotas*/
/**modal*/
#add-pet-modal.hidden {
    display: none;
}

#add-pet-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Asegúrate de que el modal no esté oculto por otras reglas */
    z-index: 1000; /* Asegura que el modal esté encima de otros elementos */
}

.no-outline:focus {
    outline: none;
}

/*carnet digital*/

/* Agregar efecto hover en las filas de la tabla */
table tbody tr:hover {
    background-color: #82f1e6 !important; /* Color de fondo cuando se pasa el ratón */
}

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    border: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #69d9cd;
    color: white;
    border: none;
}

/* Estilo para los botones de las pestañas */
.tab-button {
    background-color: #69d9cd; /* Color de fondo de los botones */
    color: white; /* Color del texto */
    cursor: pointer; /* Cursor de mano */
}

.tab-button:hover {
    background-color: #18beaa; /* Color de fondo al pasar el ratón */
}

/* Estilo para la pestaña activa (opcional) */
.tab-button.active {
    background-color: #18beaa; /* Color de fondo de la pestaña activa */
}

.truncate {
    display: block; /* Asegúrate de que el elemento esté en un bloque */
    overflow: hidden; /* Oculta el texto que se desborda */
    white-space: nowrap; /* Evita el salto de línea */
    text-overflow: ellipsis; /* Muestra "..." al final del texto que se desborda */
}


/* Contenedor de la fecha y el logo */
#carnet .absolute {
    top: 0.5rem; /* Ajusta la distancia desde el borde superior del contenedor */
    right: 0.5rem; /* Ajusta la distancia desde el borde derecho del contenedor */
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Alinea el contenido a la derecha */
    z-index: 10; /* Asegúrate de que esté sobre otros elementos */
}

/* Estilo para la fecha de emisión */
#carnet .absolute p {
    margin: 0; /* Elimina el margen por defecto */
    font-size: 0.875rem; /* Tamaño de fuente para la fecha */
    font-weight: 500; /* Peso de la fuente */
    color: #6e6e6e; /* Color del texto */
}

/* Estilo para el logo */
#carnet .absolute img {
    width: 430px; /* Ajusta el tamaño del logo */
    height: 10rem; /* Ajusta el tamaño del logo */
    object-fit: contain; /* Asegura que el logo no se deforme */
}

/*css certificados*/

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin-right: 0.75rem;
    font: inherit;
    width: 1.5em;
    height: 1.5em;
    border: 1.5px solid #d1d5db; /* Tailwind gray-300 */
    border-radius: 0.375rem; /* rounded-md */
    display: grid;
    place-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:hover {
    border-color: #10b981; /* Tailwind green-500 */
}

input[type="checkbox"]:checked {
    background-color: #10b981; /* Tailwind green-500 */
    border-color: #10b981;
}

input[type="checkbox"]:checked::before {
    content: "✓";
    font-size: 1rem;
    color: white;
}

    /*estilo modal*/

    